
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            <img src="~/assets/img/Meetings/Wacom setup1.jpg" class="f-and-b m-cover" />
        </div>
    </div>
</section>
<section class="pt-0 pb-0">
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2">
            @*<img src="~/assets/img/Experiences/Unique Dining Activities/01 Romantic Dinner.jpg" class="about-img m-cover" />*@
            <img src="~/assets/img/Meetings/Team Building new.jpg" class="about-img m-cover" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>TEAM BUILDING </b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Book your next Team Building with us and create a strong bond between friends, family, or colleagues in the
                traditional Filipino way. Enjoy playing Sack Race; Kadang-Kadang; Hula-hoop Relay; Calamansi Relay; Obstacle
                courses; Saluhang Itlog; Tumbang Preso; Agawang Buko; Patintero; Sipa; Palosebo; Agawang Panyo, Shoe Tower Relay, and Other Relays.
            </p>
            <div class="m-mb-20">
                @*<div class="col-md-12">
                        <a href="#" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                    </div>*@
            </div>
        </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            @*<img src="~/assets/img/Experiences/Experiences/02 Kamayan Beach Dinner.jpg" class="about-img m-cover" />*@
            <img src="~/assets/img/Experiences/Unique Dining Activities/Conferences.jpg" class="about-img m-cover" alt="cover" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>FUNCTION ROOMS</b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Organize meetings and conferences in any function hall of Las Casas Filipinas de Acuzar. Choose any from
                our versatile meeting venues. Packages include necessary meeting essentials like Venue Amenities, Lights
                and Sounds, Catering Amenities, and an LCD Projector.
            </p>
            <div class="m-mb-20">
                @*<div class="col-md-12">
                    <a href="#" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>*@
            </div>
        </div>
    </div>

    @* FUNCTION ROOMS *@
    @* Casa Candaba 2 *@
<div class="row" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-6 text-center mt-135 m-mt20px m-p20 m-pl-pr-20">
        <h2 class="font-opensans fw-normal text-black">
            <b>CASA CANDABA 2</b>
            <br />
        </h2>
        <p class="font-playfair font-size20 p-3">
            Casa Candaba 2 is accessible only bya water raft or balsa.
            You will be inspired with its magnificent view. It is spacious and can fit for 20 to 70 persons
            for any function you desire.
        </p>
        <div class="m-mb-20 cpct-wrap">
            <h4 class="mb-3 capacity">TYPE OF SETUP AND CAPACITY</h4>
            <table class="table table-bordered">
                <thead>
                <th scope="col" class="tblColName">Function Rooms</th>
                <th scope="col" class="tblColName">Size</th>
                <th scope="col" class="tblColName">Classroom</th>
                <th scope="col" class="tblColName">Banquet</th>
                <th scope="col" class="tblColName">Theater</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="tblText">Upper Ground Floor</th>
                        <th scope="row" class="tblText">173sqm</th>
                        <th scope="row" class="tblText">20</th>
                        <th scope="row" class="tblText">50</th>
                        <th scope="row" class="tblText">30</th>
                    </tr>

                    <tr>
                        <th scope="row" class="tblText">Ground Floor (Indoor)</th>
                        <th scope="row" class="tblText">81sqm</th>
                        <th scope="row" class="tblText">-</th>
                        <th scope="row" class="tblText">70</th>
                        <th scope="row" class="tblText">-</th>
                    </tr>

                    <tr>
                        <th scope="row" class="tblText">Ground Floor (Balcony)</th>
                        <th scope="row" class="tblText">43sqm</th>
                        <th scope="row" class="tblText">-</th>
                        <th scope="row" class="tblText">20</th>
                        <th scope="row" class="tblText">-</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-6 m-pl-0 m-pr-0">
        @*<img src="~/assets/img/Experiences/Unique Dining Activities/01 Romantic Dinner.jpg" class="about-img m-cover" />*@
        <img src="~/assets/img/Meetings/CasaCandaba2.jpg" class="about-img m-cover" />
    </div>
</div>

    @* CASAS JAEN 1 *@
<div class="row" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
        @*<img src="~/assets/img/Experiences/Experiences/02 Kamayan Beach Dinner.jpg" class="about-img m-cover" />*@
        <img src="~/assets/img/Meetings/jaen 1.jpg" class="about-img m-cover" alt="cover" />
    </div>
    <div class="col-lg-6 text-center order-1 order-lg-2 mt-135 m-mt20px m-p20 m-pl-pr-20">
        <h2 class="font-opensans fw-normal text-black">
            <b>CASA JAEN 1</b>
            <br />
        </h2>
        <p class="font-playfair font-size20 p-3">
            With a relaxing view of the Batis Swimming Pool, Casa Jaen is a relaxing venue for
            small business meetings or intimate gatherings.
        </p>
        <div class="m-mb-20 cpct-wrap">
            <h4 class="mb-3 capacity">TYPE OF SETUP AND CAPACITY</h4>
            <table class="table table-bordered">
                <thead>
                <th scope="col" class="tblColName">Function Rooms</th>
                <th scope="col" class="tblColName">Size</th>
                <th scope="col" class="tblColName">Classroom</th>
                <th scope="col" class="tblColName">Banquet</th>
                <th scope="col" class="tblColName">Theater</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="tblText">Upper Ground Floor</th>
                        <th scope="row" class="tblText">42sqm</th>
                        <th scope="row" class="tblText">15</th>
                        <th scope="row" class="tblText">30</th>
                        <th scope="row" class="tblText">30</th>
                    </tr>

                    <tr>
                        <th scope="row" class="tblText">Ground Floor</th>
                        <th scope="row" class="tblText">47sqm</th>
                        <th scope="row" class="tblText">-</th>
                        <th scope="row" class="tblText">60</th>
                        <th scope="row" class="tblText">30</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

    @* HOTEL DE ORIENTE *@
<div class="row" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-6 text-center mt-135 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
        <h2 class="font-opensans fw-normal text-black">
            <b>HOTEL DE ORIENTE</b>
            <br />
        </h2>
        <p class="font-playfair font-size20 p-3">
            Hotel de Oriente is our premier convention hall. The space can accommodate up to 800 guests.
            It is filled with ornately designed ceilings and staircases made by local artisans.
            Be sure to drop by Hotel de Oriente and experience its grandeur.
        </p>
        <div class="m-mb-20 cpct-wrap">
            <h4 class="mb-3 capacity">TYPE OF SETUP AND CAPACITY</h4>
            <table class="table table-bordered">
                <thead>
                <th scope="col" class="tblColName">Function Rooms</th>
                <th scope="col" class="tblColName">Size</th>
                <th scope="col" class="tblColName">Classroom</th>
                <th scope="col" class="tblColName">Banquet</th>
                <th scope="col" class="tblColName">Theater</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="tblText">Manila Hall</th>
                        <th scope="row" class="tblText">1,037sqm</th>
                        <th scope="row" class="tblText">50 to 60</th>
                        <th scope="row" class="tblText">300</th>
                        <th scope="row" class="tblText">800</th>
                    </tr>

                    <tr>
                        <th scope="row" class="tblText">Avenida</th>
                        <th scope="row" class="tblText">21sqm</th>
                        <th scope="row" class="tblText">10</th>
                        <th scope="row" class="tblText">20</th>
                        <th scope="row" class="tblText">30</th>
                    </tr>

                    <tr>
                        <th scope="row" class="tblText">Blumentrit</th>
                        <th scope="row" class="tblText">21sqm</th>
                        <th scope="row" class="tblText">15</th>
                        <th scope="row" class="tblText">20</th>
                        <th scope="row" class="tblText">30</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-2">
        @*<img src="~/assets/img/Experiences/Unique Dining Activities/01 Romantic Dinner.jpg" class="about-img m-cover" />*@
        <img src="~/assets/img/Meetings/HDO 5.jpg" class="about-img m-cover" />
    </div>

</div>

    @* CASA NEW MANILA *@
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-135 order-1 order-lg-2 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>CASA NEW MANILA</b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                The house has large windows overlooking the river, perfect for classroom, banquet or theatre set up.
                The vast space can hold cocktails, social functions or conferences.
            </p>
            <div class="m-mb-20 cpct-wrap">
                <h4 class="mb-3 capacity">TYPE OF SETUP AND CAPACITY</h4>
                <table class="table table-bordered">
                    <thead>
                    <th scope="col" class="tblColName">Function Rooms</th>
                    <th scope="col" class="tblColName">Size</th>
                    <th scope="col" class="tblColName">Classroom</th>
                    <th scope="col" class="tblColName">Banquet</th>
                    <th scope="col" class="tblColName">Theater</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="tblText">Upper Ground Floor</th>
                            <th scope="row" class="tblText">45sqm</th>
                            <th scope="row" class="tblText">25</th>
                            <th scope="row" class="tblText">40</th>
                            <th scope="row" class="tblText">35</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            @*<img src="~/assets/img/Experiences/Experiences/02 Kamayan Beach Dinner.jpg" class="about-img m-cover" />*@
            <img src="~/assets/img/Meetings/CASA NEW MANILA-Facade.jpg" class="about-img m-cover" alt="cover" />
        </div>
    </div>

    @* CASA STA. RITA *@
<div class="row" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-2">
        @*<img src="~/assets/img/Experiences/Unique Dining Activities/01 Romantic Dinner.jpg" class="about-img m-cover" />*@
        <img src="~/assets/img/Meetings/CASA STA rita.jpg" class="about-img m-cover" />
    </div>
    <div class="col-lg-6 text-center mt-135 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
        <h2 class="font-opensans fw-normal text-black">
            <b>CASA STA. RITA (Cafe del rio)</b>
            <br />
        </h2>
        <p class="font-playfair font-size20 p-3">
            Perfect place for small business meetings or intimate gathering. It was the biggest house in Sta. Rita,
            Pampanga during its time and comes with a superb view of the Umagol river and Las Casas’ church.
        </p>
        <div class="m-mb-20 cpct-wrap">
            <h4 class="mb-3 capacity">TYPE OF SETUP AND CAPACITY</h4>
            <table class="table table-bordered">
                <thead>
                <th scope="col" class="tblColName">Function Rooms</th>
                <th scope="col" class="tblColName">Size</th>
                <th scope="col" class="tblColName">Classroom</th>
                <th scope="col" class="tblColName">Banquet</th>
                <th scope="col" class="tblColName">Theater</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="tblText">Upper Ground Floor</th>
                        <th scope="row" class="tblText">23sqm</th>
                        <th scope="row" class="tblText">20</th>
                        <th scope="row" class="tblText">60</th>
                        <th scope="row" class="tblText">30</th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

    @* CASA UNISAN*@
<div class="row" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
        @*<img src="~/assets/img/Experiences/Experiences/02 Kamayan Beach Dinner.jpg" class="about-img m-cover" />*@
        <img src="~/assets/img/Meetings/casa unisan- A3.jpg" class="about-img m-cover" alt="cover" />
    </div>
    <div class="col-lg-6 text-center mt-135 order-1 order-lg-2 m-mt20px m-p20 m-pl-pr-20">
        <h2 class="font-opensans fw-normal text-black">
            <b>CASA UNISAN (Kusina ni Nanay Maria)</b>
            <br />
        </h2>
        <p class="font-playfair font-size20 p-3">
            Casa Unisan can accommodate 15 to 60 persons, cocktails, meeting or conferences
            and other function. Equipped with audio visual facilities and Wi-Fi-enabled.
        </p>
        <div class="m-mb-20 cpct-wrap">
            <h4 class="mb-3 capacity">CASA NEW MANILA</h4>
            <table class="table table-bordered">
                <thead>
                <th scope="col" class="tblColName">Function Rooms</th>
                <th scope="col" class="tblColName">Size</th>
                <th scope="col" class="tblColName">Classroom</th>
                <th scope="col" class="tblColName">Banquet</th>
                <th scope="col" class="tblColName">Theater</th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="tblText">Casa Unisan A</th>
                        <th scope="row" class="tblText">40sqm</th>
                        <th scope="row" class="tblText">15</th>
                        <th scope="row" class="tblText">60</th>
                        <th scope="row" class="tblText">35</th>
                    </tr>

                    <tr>
                        <th scope="row" class="tblText">Casa Unisan B</th>
                        <th scope="row" class="tblText">33sqm</th>
                        <th scope="row" class="tblText">10</th>
                        <th scope="row" class="tblText">20</th>
                        <th scope="row" class="tblText">20</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</section>

<form id="formMeet">
    <section class="pt-0" style="background-color: #ceaa78;">
        <div class="container text-center" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12 row text-center mt-5 ">
                <h2 class="font-opensans fw-normal text-white">
                    <b>REQUEST FOR A PROPOSAL </b>
                </h2>
            </div>
            <div class="col-lg-12 text-center">
                <div class="col-lg-12 row mt-2">
                    <div class="col-lg-7 mt-2">
                        <input class="input-oval form-control" placeholder="FULL NAME" name="guestFullName" id="guestFullName" required />
                    </div>
                    <div class="col-lg-5 mt-2">
                        <input class="input-oval form-control" placeholder="EMAIL ADDRESS" name="guestEmail" id="guestEMail" required />
                    </div>
                </div>
                <div class="col-lg-12 row mt-2 ">
                    <div class="col-lg-7 mt-2">
                        <input class="input-oval form-control" placeholder="COMPANY" name="companyName" id="companyName" required />
                    </div>
                    <div class="col-lg-5 mt-2">
                        <input class="input-oval form-control" placeholder="CONTACT NUMBER" name="companyContactNumber" id="companyContactNumber" required />
                    </div>
                </div>
                <div class="col-lg-12 row mt-2 ">
                    <div class="col-lg-4 mt-2">
                        <div class="form-check form-check-inline text-white">
                            TYPE OF EVENT:
                            <div class="form-check-inline">
                                <input class="form-control input-oval" name="eventType" id="eventType" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2">
                        <div class="form-check form-check-inline text-white">
                            NUMBER OF GUEST:
                            <div class="form-check-inline">
                                <input class="form-control input-oval" name="guestNumber" id="guestNumber" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-2">
                        <div class="form-check form-check-inline text-white">
                            DATE OF EVENT:
                            <div class="form-check-inline">
                                <input class="form-control input-oval" placeholder="DD/MM/YYYY" type="date" name="eventDate" id="eventDate" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-5 text-center pl-pr-100">
                <div class="col-md-12">
                    <button type="submit" class="btn-lc-submit" id="requestBtnSubmit">SUBMIT </button>
                </div>
            </div>
        </div>
    </section>

</form>

<script>

    var base_url = window.location.origin;
    const form = document.getElementById('formMeet')

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // API
        try {
            const response = await fetch(base_url + '/Meetings/Inquire', {
                method: 'POST',
                body: new FormData(form)
            })
            const res = await response.json();
            if (!response.ok) {
                throw { response, res }
            } else {
                alert("Thank you, your request has been submitted successfully");
                form.reset();
            }
        } catch (error) {
            alert(error);
            //alert("username or password is incorrect");
        } finally {
            //commit("setLoading", false)
        }
        form.setAttribute("style", "pointer-events: auto;");

        requestBtnSubmit.innerHTML = 'Submit';
    });

</script>
