
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img">
            <img src="~/assets/img/Events/cover.jpg" class="f-and-b m-cover" alt="events" />
        </div>
    </div>
</section>
<section class="pt-0">
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2>
                <b>WEDDINGS AT LAS CASAS</b>
                <br />
            </h2>
            <h5 class="font-playfair">Signature Wedding Packages</h5>
            <p class="font-playfair font-size20 p-3">
                Las Casas has become a dream destination for weddings as it offers a variety of locations.
                From lush gardens, grand ballrooms, and intricate houses, your wedding will certainly
                be unique from the rest. Click below to download our E-brochure for Weddings.
                <br />
            </p>
            <div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="https://drive.google.com/file/d/189usiFqa63DapEtxtYRQ3KrYbggZhQoi/view" class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Events/1.jpg" class="about-img m-cover" alt="events" />
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Events/2.jpg" class="about-img m-cover" alt="events" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2>
                <b>CORPORATE EVENTS</b>
                <br />
            </h2>
            <h5 class="font-playfair">Events Packages</h5>
            <p class="font-playfair font-size20 p-3">
                Las Casas has served as a venue for several important corporate events.
                Select from a variety of different spaces and facilities within the resort to
                best serve your company’s intended activities, whether it’s for a fun team building
                event or an important conference.
                <br />
            </p>
            <div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="mailto:reservations@lascasasfilipinas.com" class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2>
                <b>INTIMATE CELEBRATIONS</b>
                <br />
            </h2>
            <h5 class="font-playfair">Make it Las Casas</h5>
            <p class="font-playfair font-size20 p-3">
                Birthdays, anniversaries, graduations, and more. These celebrations are made special
                alongside people who are dearest to you. Allow us to help you plan your next
                celebration by helping you create an itinerary for your next vacation.
                <br />
            </p>
            <div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="mailto:reservations@lascasasfilipinas.com" class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Events/3.jpg" class="about-img m-cover" alt="events" />
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Events/4.jpg" class="about-img m-cover" alt="events" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2>
                <b>PHOTOSHOOTS AT LAS CASAS</b>
                <br />
            </h2>
            <h5 class="font-playfair">Events Packages</h5>
            <p class="font-playfair font-size20 p-3">
                Produce beautiful photography and videography with the perfect setting the resort offers. 
                We have packages for prenup and commercial photoshoots to choose from. Just send us a message to inquire.
                <br />
            </p>
            <div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="mailto:reservations@lascasasfilipinas.com" class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>
        </div>
    </div>
</section>
