
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            <img src="~/assets/img/Award/cover.png" class="f-and-b m-cover" alt="award" />
        </div>
    </div>
</section>

<section>
    <div class="container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">
            <h2>AWARDS</h2>
            <p>For over a decade, Las Casas Filipinas de Acuzar has garnered several honors and accolades which we are proud to share with you.</p>
        </div>
        <div class="row">
            <h2>2021</h2>
            <p>
                Best Historic Hotels in Asia Pacific – Historic Hotels Worldwide<br />
                Travelers’ Choice Award
            </p>
        </div>
        <div class="row">
            <h2>2020</h2>
            <p>
                Travelers’ Choice Award
            </p>
        </div>
        <div class="row">
            <h2>2019</h2>
            <p>
                Travelers’ Choice Award
            </p>
        </div>
        <div class="row">
            <h2>2018</h2>
            <p>
                Travelers’ Choice Award<br />
                Hotel Sales and Marketing Virtus Awards (Outstanding Marketing Campaign Category)
            </p>
        </div>
        <div class="row">
            <h2>2017</h2>
            <p>
                Asia Awards of Excellence
            </p>
        </div>
        <div class="row">
            <h2>2014</h2>
            <p>
                Tripadvisor Awards – Certificate of Excellence
            </p>
        </div>
        <div class="row">
            <h2>2013</h2>
            <p>
                Tripadvisor Awards – Certificate of Excellence<br /><br />

                Condé Nast Johansens Historic Worldwide member<br />
                Historic Hotels Worldwide
            </p>
        </div>
    </div>
</section>