
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img">
            <img src="~/assets/img/Gallery/Cover/cover.png" class="f-and-b m-cover" alt="cover" />
        </div>
    </div>

</section>
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            @*<h2>check out our gallery</h2>*@
            <p>GALLERY</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter=".filter-experiences,.filter-arts,.filter-casas,.filter-resort" class="filter-active" >All</li>
                    <li data-filter=".filter-casas" >Stay</li>
                    <li data-filter=".filter-resort" >Resort</li>
                    <li data-filter=".filter-experiences" >Experiences</li>
                    <li data-filter=".filter-arts,.filter-arts-footer" >Arts and Craftsmanship</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 portfolio-item filter-casas">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Stay/Casa Byzantina.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h4>Casa Byzantina</h4>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Stay/Casa Byzantina.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Casa Byzantina"><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/4.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white">photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-casas">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Stay/CASA TUGUEGARAO (3).jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h4>CASA TUGUEGARAO</h4>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Stay/CASA TUGUEGARAO (3).jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CASA TUGUEGARAO"><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/8.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white">photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-casas">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Stay/Deluxe1.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h4>Deluxe 1</h4>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Stay/Deluxe1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Deluxe 1"><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/10.jpeg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white">photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/10.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-casas">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Stay/DSC06167.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">

                        <div class="portfolio-links">
                            <a href="~/assets/img/Stay/DSC06167.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/5.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white">photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-casas">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Stay/DSC06195.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">

                        <div class="portfolio-links">
                            <a href="~/assets/img/Stay/DSC06195.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-casas">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Stay/RDFN-060.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">

                        <div class="portfolio-links">
                            <a href="~/assets/img/Stay/RDFN-060.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-resort">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Resort/Beach1.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/assets/img/Resort/Beach1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-casas">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Stay/FamilySuite.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h4>Family Suite</h4>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Stay/Deluxe1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Family Suite"><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-resort">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Resort/Cafe del rio.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/Resort/Cafe del rio.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-resort">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Resort/DSCF3128-2.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/Resort/DSCF3128-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-resort">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Resort/Hotel de Oriente 1.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/Resort/Hotel de Oriente 1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-casas">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Stay/RDFN-103-2.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">

                        <div class="portfolio-links">
                            <a href="~/assets/img/Stay/RDFN-103-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-resort">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Resort/Hotel de Oriente 2.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/Resort/Hotel de Oriente 2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-resort">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Resort/la bella.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/Resort/la bella.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-resort">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Resort/Resort1.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/Resort/Resort1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-resort">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Resort/Resort2.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/Resort/Resort2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Balsa2.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Balsa2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-casas">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Stay/SuperiorDeluxe3.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h4>Superior Deluxe 3</h4>
                        <div class="portfolio-links">
                            <a href="~/assets/img/Stay/SuperiorDeluxe3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Superior Deluxe 3"><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Cultural show 1.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Cultural show 1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Cultural Show 2.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Cultural Show 2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Gym.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Gym.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Horse back Riding.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Horse back Riding.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Kalesa.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Kalesa.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/1.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white">photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/6.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white">photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Carabao Parade.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Carabao Parade.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/7.jpeg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white" >photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/7.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Kayak.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Kayak.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Las Casas Parade.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Las Casas Parade.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/movie night.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/movie night.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/9.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white">photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Balsa3.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Balsa3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/2.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white">photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Patio de juego.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Patio de juego.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Yacht.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Yacht.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/Gallery/ArtsAndCraftsmanship/3.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">
                        <h6 class="text-white">photography by PACO GUERRERO</h6>

                        <div class="portfolio-links">
                            <a href="~/assets/img/Gallery/ArtsAndCraftsmanship/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-experiences">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/GalleryExperiences/Yoga.jpg" class="img-fluid porfoolio-img" alt="gallery">
                    <div class="portfolio-info">


                        <div class="portfolio-links">
                            <a href="~/assets/img/GalleryExperiences/Yoga.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bxs-zoom-in"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-lg-12 col-md-12 portfolio-item filter-arts-footer">
                <div ID="" class="col-lg-12 pt-lg-0 order-lg-1 mt-3 content m-pt-0 pl-0 text-center mb-5">
                    <h5 class="font-playfair font-size20 p-3"><a style="color: #603419" href="https://ph.asiatatler.com/life/the-artisans-from-bataan-peninsula" target="_blank">https://ph.asiatatler.com/life/the-artisans-from-bataan-peninsula</a></h5>
                    <h5 class="font-opensans text-black">
                        <b style="color: #603419">
                            photography by PACO GUERRERO
                        </b>
                    </h5>
                </div>

            </div>*@



        </div>
  
   

    </div>
</section>


