
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            <img src="~/assets/img/Experiences/Unique Dining Activities/00 Cover page.jpg" class="f-and-b m-cover" />
        </div>
    </div>
</section>
<section class="pt-0 pb-0">
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Unique Dining Activities/01 Romantic Dinner.jpg" class="about-img m-cover" />
        </div>
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>ROMANTIC & SPECIAL DINNERS</b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                For private or intimate dining, our team at Las Casas offers bespoke dining experiences.
                Choose from a variety of menus and romantic set ups.
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12">
                    <a href="#" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>*@
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>KAMAYAN BEACH DINNER</b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                A communal-style Filipino feast beside the beach. Using your bare hands,
                dig into the sumptuous array of meat, seafood, vegetables and fruits prepared
                meticulously by our Food & Beverage team.
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12">
                    <a href="#" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>*@
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/02 Kamayan Beach Dinner.jpg" class="about-img m-cover" alt="Experiences" />
        </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Unique Dining Activities/03 Dining under the stars.jpg" class="about-img m-cover" alt="Experiences"  />
        </div>
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>DINING UNDER THE STARS</b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                A night picnic or an al fresco dining with an amazing view of the stars.
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12">
                    <a href="#" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>*@
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>PRIVATE DINING - GAZEBO & CABANA DINE </b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Our gazebo and cabanas are perfect for intimate dining.
                We can set it up for you and your loved one should you require a personalized dining experience.
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12">
                    <a href="#" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>*@
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            @*<img src="~/assets/img/Experiences/Workshops/1.jpeg" class="about-img m-cover" />*@
            <img src="~/assets/img/Experiences/Workshops/hagonoy6.jpg" class="about-img m-cover" alt="Experiences"  />
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Unique Dining Activities/balsa breakfast1-3.jpg" class="about-img m-cover" alt="Experiences"  />
        </div>
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>BALSA DINNERS </b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                A balsa ride along Umagol River promises a fantastic experience you won’t forget. 
                Our Food and Beverage team can whip up a sumptuous meal while you go on an enchanting tour around the resort.
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12">
                    <a href="#" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>*@
        </div>
    </div>
</section>
<section style="background-color: #F4E2BB;">
    <div class="container">
        <div class="col-md-12 text-center mt-3" data-aos="fade-up" data-aos-delay="200">
            <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR VISIT</strong></h4>
        </div>
        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
            <div>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>
        </div>
        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
            <p class="fnt-family-playfair"><strong>reservations@lascasasfilipinas.com</strong></p>
        </div>
        @*<div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                <a href="https://lascasasfilipinas.reserve-online.net/" class="btn-book-now" target="_blank">BOOK NOW</a>
            </div>*@
    </div>
</section>

