
@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img">
            <img src="~/assets/img/Resort/banana boat.jpg" class="f-and-b m-cover" alt="cover" />
            @*<img src="~/assets/img/Resort/Resort2.jpg" class="f-and-b m-cover" />*@
        </div>
    </div>
</section>

<section class="pt-0 pb-0">

    @*<div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>CULTURAL SHOWS </b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Witness our dancers showcasing traditional Filipino dances such as tinikling,
                singkil and maglalatik for an evening of fun with the entire group or family.
                <br />
            </p>


            <div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/Cultural Show.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                </div>
            </div>

        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Heritage/0b3612f5-aeb0-4d8a-a2db-97163ca02104.jpg" class="about-img m-cover" alt="experiences" />
        </div>

    </div>*@
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Heritage/0b3612f5-aeb0-4d8a-a2db-97163ca02104.jpg" class="about-img m-cover" alt="experiences" />
        </div>
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>CULTURAL SHOWS </b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Witness our dancers showcasing traditional Filipino dances such as tinikling,
                singkil and maglalatik for an evening of fun with the entire group or family.
                <br />
            </p>

            @* Added details button for pop-up feature *@

            @* PRICE DETAILS HIDE - TEMPORARY *@
            <div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/Cultural Show.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                </div>
            </div>
        </div>
    </div>

    @* KIDS CLUB TEMPORARY CLOSED *@
    <!--<div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/Patio de juego.jpg" class="about-img m-cover" alt="experiences" />
        </div>
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>KIDS CLUB </b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Join us at the Kids Club for classic Filipino games for kids and adults to enjoy together.
                <br />
            </p>-->

            @* Added details button for pop-up feature *@

            @* PRICE DETAILS HIDE - TEMPORARY *@
            @*<div class="m-mb-20">
                    <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                        <a href="~/assets/img/Experiences/Popup/Kid's Club.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                    </div>
                </div>*@
        <!--</div>
    </div>-->
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>MOVIE-NIGHT </b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Enjoy movie-night with your company in our new outdoor cinema.
                <br />
            </p>

            <div class="m-mb-20">
                    <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                        <a href="~/assets/img/Experiences/Popup/Movie night.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                    </div>
                </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/movie night.jpg" class="about-img m-cover" alt="experiences" />
        </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/03 Rentals.jpg" class="about-img m-cover" alt="experiences" />
        </div>
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>RESORT RENTALS </b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Get around the resort with ease by renting one of our golf carts, bicycles, or horses. <br />
                <b>Note:</b> Activities are subject to weather conditions.
                <br />
            </p>

            @* Added details button for pop-up feature *@

            <div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/Las Casas Resort Rentals1.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                </div>

                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/Las Casas Resort Rentals2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20 ">
            <h2 class="font-opensans text-black">
                <b>WATER ACTIVITIES </b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Water sports are available within the resort.  From jet skis, wake boards, kayaks,
                banana boats, and more. You may even rent your own speed boat or yacht.
                <br />
            </p>

            @* Added details button for pop-up feature *@

            @* PRICE DETAILS HIDE - TEMPORARY *@
            @*<div class="m-mb-20">
                    <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                        <a href="~/assets/img/Experiences/Popup/Water Activities.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                    </div>
                </div>*@
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/Kayak.jpg" class="about-img m-cover" alt="experiences" />
        </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/AmbianceActors.jpg" class="about-img m-cover" alt="experiences" />
        </div>
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>AMBIANCE ACTORS</b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Let our talented Ambiance Actors interact with you as they stage significant scenarios from our history and bring back to life notable and key characters back in time.<br />
            </p>
        </div>
    </div>

</section>
<section style="background-color: #F4E2BB;">
    <div class="container">
        <div class="col-md-12 text-center mt-3" data-aos="fade-up" data-aos-delay="200">
            <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR VISIT</strong></h4>
        </div>
        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
            <div>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>
        </div>
        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
            <p class="fnt-family-playfair"><strong>reservations@lascasasfilipinas.com</strong></p>
        </div>
        @*<div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                <a href="https://lascasasfilipinas.reserve-online.net/" class="btn-book-now" target="_blank">BOOK NOW</a>
            </div>*@
    </div>
</section>

