
@{
    ViewBag.Title = "MajayjayWellnessAndSpa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mt-100">
    <div class="container">
        <div class="col-lg-12 text-center">
            <img src="~/assets/img/Experiences/BalayanWellnessSpa/balayanspalogo.png" class="balayan-img" alt="experiences" />
        </div>
        <div class="col-lg-12 text-center">
            <h1>Comming Soon</h1>
        </div>
    </div>
</section>

