
@{
    ViewBag.Title = "Fitness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {

    <link href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css' rel='stylesheet' />
}
@section Scripts {
    <script src='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js'></script>

}

<section id="" class="d-flex align-items-center justify-content-center m-cover">

    <div class="div-cover-img">
        <img src="~/assets/img/Experiences/Fitness/1.jpg" class="f-and-b  m-cover" alt="experiences" />
    </div>

</section><!-- End home -->
<section class="mt-20">
    <div class="container">
        <div class="col-ms-12 text-center">
            <h2 class="fnt-family-playfair"><strong>FITNESS</strong></h2>
            <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                Fancy a workout? Step inside our fitness gym and enjoy state-of-the-art equipment by Technogym and have the option to work with our fitness trainers.
                We will also be introducing group classes such as yoga, zumba, pilates and more. <br /><br />

                Weekdays: 7:00AM to 4:00PM <br />
                Weekends: 7:00AM to 7:00PM
            </p>

        </div>
        <div class="col-md-12 mt-100 text-center">
            <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR VISIT</strong></h4>
        </div>
        <div class="col-md-12 text-center">
            <div>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>

        </div>

        <div class="col-md-12 text-center">
            <p class="fnt-family-playfair"><strong>reservations@lascasasfilipinas.com</strong></p>
        </div>

        <div class="col-md-12 text-center mt-5">
            <a href="https://staahmax.staah.net/be/index_be?propertyId=MzcxNQ" class="btn-lc" target="_blank">BOOK NOW</a>
            @*<input type="submit" class="btn-booknow" value="BOOK NOW" />*@
        </div>
    </div>
    
</section>
