@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img">
            @*<img src="~/assets/img/Resort/banana boat.jpg" class="f-and-b m-cover" />*@
            <img src="~/assets/img/Resort/Resort2.jpg" class="f-and-b m-cover" alt="cover" />
        </div>
    </div>

</section>
<section class="pt-0 pb-0">
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Heritage/01 Arts and Crafts workshop.jpg" class="about-img m-cover" alt="experiences"/>
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>ARTS & CRAFTS WORKSHOP</b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                A series of arts and crafts workshops which guests can avail to
                learn more about the different mediums of art that we create.
                Make your own fiberglass mosaic piece to take home and enjoy a
                relaxing afternoon creating your work.
                <br />
            </p>

            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="https://lascasasfilipinas.com/Experiences/Workshops" class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>*@

            @* PRICE DETAILS HIDE - TEMPORARY *@

            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/Arts crafts workshop fiber glass.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                </div>
            </div>*@

        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>BALSA & GONDOLA TOURS</b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Take a leisurely trip along Umagol River while enjoying the scenic views of Las Casas
                <br />
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="https://m.facebook.com/LasCasasBataan/posts/pfbid08uQt3jrUqMvjb1aijQBiHWPMnuNrqKfxwZHZd4eVPkDn93CAYCbYsvYSyHp7FHNrl " class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>*@

            @* PRICE DETAILS HIDE - TEMPORARY *@
            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/Balsa.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                </div>
            </div>*@

        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Heritage/f23d7df6-ab95-4fbe-a5b7-f76a7b6144d2.jpg" class="about-img m-cover" alt="experiences" />
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Heritage/50bbca5e-f263-4a07-acc8-e94424deb3b8.jpg" class="about-img m-cover" alt="experiences" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>HERITAGE DAY TOUR</b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Our Heritage Walking Tour is an hour long guided tour across the villages and ancestral houses within the property.
                Learn more about the origins of each home and the stories that encapsulate each.
                End with an immersive tour of our workshops where you get a front row seat to our artists, craftsmen, and craftswomen
                at work.
                <br />
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="https://drive.google.com/file/d/1AR9_ctnX57d63ZVD8T5ZxAD-Hr-JNq_6/view?usp=sharing " class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>*@

            <div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/Heritage Day tour NEW.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>HOTEL DE ORIENTE</b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                An iconic structure within the resort, Hotel de Oriente’s majestic and striking features are due to the
                intricacy of its wood work seen throughout the walls, floors, and ceilings of the structure.
                A tour is not complete without a visit to this majestic place.
                <br />
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="mailto:reservations@lascasasfilipinas.com" class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>*@

            @* PRICE DETAILS HIDE - TEMPORARY *@
            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/HDO.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                </div>
            </div>*@

        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Heritage/0ab75d8f-4fb6-44f1-bb31-a5c45412a836.jpg" class="about-img m-cover" alt="experiences" />
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Heritage/383f2402-fa61-4cf2-8c39-6398134285b4.jpg" class="about-img m-cover" alt="experiences" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>KALESA RIDE</b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Go around the resort in style through a kalesa ride or a horsedrawn carriage which served as a
                primary mode of transportation in the olden days.
                Choose to go on this adventure by day or by night for a completely different experience.
                <br />
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="mailto:reservations@lascasasfilipinas.com" class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>*@

            @* PRICE DETAILS HIDE - TEMPORARY *@
            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/Kalesa Rides.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                </div>
            </div>*@
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20 ">
            <h2 class="font-opensans text-black">
                <b>FREEDOM LAND</b>
                <br />
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Experience the re-enactment of the Philippines' most historical events that shaped the
                nation live at the Las Casas Filipinas de Acuzar's show, Freedom Land. <br/> Witness the 
                remarkable portrayal of some of the most iconic figures in Philippine History performed 
                by outstanding theatre actors from the ATFC.
                <br />
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="mailto:reservations@lascasasfilipinas.com" class="btn-lc" target="_blank">DETAILS</a>
                </div>
            </div>*@

            @* PRICE DETAILS HIDE - TEMPORARY *@
            @*<div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5 portfolio-links" data-aos="fade-up" data-aos-delay="200">
                    <a href="~/assets/img/Experiences/Popup/Freedom Land.jpg" data-gallery="portfolioGallery" class="btn-lc portfolio-lightbox">DETAILS</a>
                </div>
            </div>*@
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Heritage/Freedom Land no revo.jpg" class="about-img m-cover" alt="experiences" />
        </div>
    </div>
</section>
<section style="background-color: #F4E2BB;">
    <div class="container">
        <div class="col-md-12 text-center mt-3" data-aos="fade-up" data-aos-delay="200">
            <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR VISIT</strong></h4>
        </div>
        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
            <div>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>
        </div>
        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
            <p class="fnt-family-playfair"><strong>reservations@lascasasfilipinas.com</strong></p>
        </div>
        @*<div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                <a href="https://lascasasfilipinas.reserve-online.net/" class="btn-book-now" target="_blank">BOOK NOW</a>
            </div>*@
    </div>
</section>

