
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            <img src="~/assets/img/HomePage/slider/8.jpg" class="f-and-b m-cover" alt="experiences" />
        </div>
    </div>
</section>
<section class="pt-0">
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Heritage/0ab75d8f-4fb6-44f1-bb31-a5c45412a836.jpg" class="about-img m-cover" alt="experiences" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>HERITAGE EXPERIENCES </b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                What sets our spaces apart is the very strong heritage component which our guests can experience through 
                a variety of activities within the resort.
            </p>
            <div class="m-mb-20">
                <div class="col-md-12">
                    <a href="~/Experiences/Heritage" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>ACTIVITIES & ENTERTAINMENT </b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                From water sports, pocket games, tours, workshop tours and more. 
                Click the link below to download our extensive list of activities for you to choose from at the resort.
            </p>
            <div class="m-mb-20">
                <div class="col-md-12">
                    <a href="~/Experiences/Activities" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/Kayak.jpg" class="about-img m-cover" alt="experiences" />
        </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/02 Kamayan Beach Dinner.jpg" class="about-img m-cover" alt="experiences" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>UNIQUE DINING EXPERIENCE </b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Las Casas’ restaurants and bars offer a delectable range of culinary options to choose from. 
                Whether one chooses to experience local home-style Filipino dishes, traditional Italian cuisine, or freshly-caught 
                grilled seafood and meats, there is something to be enjoyed for every kind of palate.
            </p>
            <div class="m-mb-20">
                <div class="col-md-12">
                    <a href="~/UniqueDining" target="_blank" class="btn-lc fnt-1vw">DETAILS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>MARINA & YACHT CLUB</b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Exclusive privileges and activities coming, soon.
            </p>
            <div class="m-mb-20">
                <div class="col-md-12">
                    <a href="~/Experiences/Marina" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/Marina_yacht club copy.jpg" class="about-img m-cover" alt="experiences" />
        </div>
    </div>
    
</section>

