
@{
    ViewBag.Title = "SkinBeauty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 text-center mt-300px mb-200px">
    <h1 class="fnt-family-playfair"><strong>Skin Beauty <br /> Coming Soon</strong></h1>
</div>

