
@{
    ViewBag.Title = "Workshops";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="" class="d-flex align-items-center justify-content-center m-cover">

    <div class="div-cover-img">
        <img src="~/assets/img/Experiences/Workshops/1.jpeg" class="f-and-b m-cover" alt="experiences" />
    </div>

</section><!-- End home -->
<section class="mt-20">
    <div class="container">
        <div class="col-ms-12 text-center">
            <h2 class="fnt-family-playfair"><strong>FIBER GLASS MOSAIC WORKSHOP</strong></h2>
            <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                Fiber glass mosaic is used in many of our wall murals, art pieces, ceilings, and more intricate designs found within our spaces. 
                Spend a day with our artists and create your own fiber glass mosaic piece to take home!
            </p>
 
            <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                Friday, Saturday & Sunday<br />
                9 am to 11 am | 3 pm to 5 pm<br />
                ₱1,000 / person
            </p>

            <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                For inquiries, send us a message at<br />
                0917 872 9371
            </p>
        </div>
        <div class="col-md-12 mt-100 text-center">
            <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR VISIT</strong></h4>
        </div>
        <div class="col-md-12 text-center">
            <div>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>

        </div>

        <div class="col-md-12 text-center">
            <p class="fnt-family-playfair"><strong>reserve@lascasasfilipinas.com</strong></p>
        </div>
        <div class="col-md-12 text-center mt-5">
            @*<a href="" class="btn-booknow">BOOK NOW</a>*@
            <input type="submit" class="btn-booknow" value="BOOK NOW" />
        </div>
    </div>

</section>


