
@{
    ViewBag.Title = "YogaAndMeditation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image"> 
        <div class="div-cover-img m-cover">
            <img src="~/assets/img/Experiences/Yoga/1.jpg" class="f-and-b m-cover" alt="experiences" />
        </div>
    </div>

</section>
<section class="mt-20">
    <div class="container">
        <div class="col-ms-12 text-center">
            <h2 class="fnt-family-playfair"><strong>YOGA & MEDITATION CLASS</strong></h2>
            <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                Stay grounded and connected through a series of yoga and meditation classes available within the resort. <br />
                Please reserved at Casa Binan <br />
                <b>Php 1,500/person</b>
            </p>

        </div>
        <div class="col-md-12 mt-100 text-center">
            <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR VISIT</strong></h4>
        </div>
        <div class="col-md-12 text-center">
            <div>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>

        </div>

        <div class="col-md-12 text-center">
            <p class="fnt-family-playfair"><strong>reservations@lascasasfilipinas.com</strong></p>
        </div>
        <div class="col-md-12 text-center mt-5">
            <a href="https://staahmax.staah.net/be/index_be?propertyId=MzcxNQ" class="btn-lc" target="_blank">BOOK NOW</a>
            @*<input type="submit" class="btn-booknow" value="BOOK NOW" />*@
        </div>
    </div>

</section>

