
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            <img src="~/assets/img/HomePage/slider/9.jpg" class="f-and-b m-cover" alt="cover" />
        </div>
    </div>
</section>

@* UPDATED SPECIAL OFFERS LAYOUT *@
<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            @* HOLI DEALS *@
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="offer-wrap text-center">
                    <div class="offer-desc">
                        <h1>Valentine's Special</h1>
                        <p>
                            Cherish moments of intimacy, savor delectable cuisines, and let the historic charm of Las Casas weave the magic of your love story.⁣⁣
                        </p>
                        <button data-toggle="modal" data-target="#exampleModalCenterB">View Inclusions</button>
                        <br />
                        <br />
                        <img src="~/assets/img/SpecialOffers/VDAY.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @* HOLI DEALS *@
            <div class="col-md-2"></div>

            <div class="col-md-4">
                <div class="offer-wrap text-center">
                    <div class="offer-desc">
                        <h1>Ultimate Valentine</h1>
                        <p>
                            Overnight Stay with Gazebo Dinner
                        </p>
                        <hr />
                        <p>Rate starts at <strong>Php 41,900</strong> nett</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="offer-wrap text-center">
                    <div class="offer-desc">
                        <h1>Sweetheart Getaway</h1>
                        <p>
                            Overnight Stay with Valentine Dinner Menu
                        </p>
                        <hr />
                        <p>Rate starts at <strong>Php 13,200</strong> nett</p>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @* chinese new year *@
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="offer-wrap text-center">
                    <img src="~/assets/img/SpecialOffers/cny.jpg" />
                    <div class="offer-desc">
                        <h1>Chinese New Year Special</h1>
                        <p>Booking Period: January 22, 2024 to February 08, 2024</p>
                        <hr />
                        <p>
                            Book your Chinese New Year Staycation with us using the promo code LUCKY888 to enjoy exclusive perks, blending the charm of Filipino history with the encouraging spirit of Chinese traditions.
                        </p>
                        <p>Rate starts at <strong>Php 14,888</strong> nett for (2) two</p>
                        <button data-toggle="modal" data-target="#exampleModalCenterA">View Inclusions</button>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            @* Sunsets & Serenades : A Romantic Overnight Escape *@
            <!--<div class="col-md-6">
    <div class="offer-wrap text-center">
        <img src="~/assets/img/SpecialOffers/cny.jpg" />
        <div class="offer-desc">
            <h1>
                Valentine's Special
            </h1>
            <p>Booking Period: January 30, 2024 to February 17, 2024</p>
            <hr />
            <p>
                Cherish moments of intimacy, savor delectable cuisines, and let the historic charm of Las Casas weave the magic of your love story.⁣⁣
            </p>-->
            @*<p>Rate starts at <strong>Php 17,000 nett</strong></p>*@
            <!--<button data-toggle="modal" data-target="#exampleModalCenterD">View Inclusions</button>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>-->
        </div>
            <!--<div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>-->
            @* Heritage and Wellness Oasis *@
            <!--<div class="col-md-6">
                <div class="offer-wrap text-center">
                    <img src="~/assets/img/SpecialOffers/Heritage and Wellness OasisHeritage and Wellness Oasis_1.jpg" />
                    <div class="offer-desc">
                        <h1>
                            Heritage and Wellness Oasis
                        </h1>
                        <p>Booking Period: September 17, 2023 to December 19, 2023</p>
                        <hr />
                        <p>Escape to a haven of heritage and well-being at Las Casas Filipinas de Acuzar. Indulge in relaxation, serenity, and rejuvenation – a perfect sanctuary for your soul. Be a part of the tapestry of time in this sanctuary, where history, luxury, and serenity come together for a truly magical experience.</p>
                        <p>Rate starts at <strong>Php 36,000 nett</strong></p>
                        <button data-toggle="modal" data-target="#exampleModalCenterC">View Inclusions</button>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <div class="col-md-3">

            </div>
        </div>-->
        </div>
</section>

@* MODAL *@


@* Savor and Sights : A historical adventure at Las Casas - A *@
<div class="modal fade" id="exampleModalCenterA" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content inclusion-cnt">
            <div class="modal-header inclusion-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body inclusion-wrap">
                <img src="~/assets/img/Inclusions/cny-edm.jpg" />
            </div>
        </div>
    </div>
</div>

@* VDAY *@
<div class="modal fade" id="exampleModalCenterB" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content inclusion-cnt">
            <div class="modal-header inclusion-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body inclusion-wrap">
                <img src="~/assets/img/Inclusions/VDay Promo EDM.jpg" />
            </div>
        </div>
    </div>
</div>

@* Heritage and Wellness Oasis *@
<!--<div class="modal fade" id="exampleModalCenterC" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content inclusion-cnt">
            <div class="modal-header inclusion-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body inclusion-wrap">
                <img src="~/assets/img/Inclusions/Heritage and Wellness OasisHeritage and Wellness Oasis_21.jpg" />
            </div>
        </div>
    </div>
</div>-->


@* Sunsets & Serenades : A Romantic Overnight Escape *@
<!--<div class="modal fade" id="exampleModalCenterD" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content inclusion-cnt">
            <div class="modal-header inclusion-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body inclusion-wrap">
                <img src="~/assets/img/Inclusions/SunsetsAndSerenades.jpg" />
            </div>
        </div>
    </div>
</div>-->

@* Heritage Escape at Las Casas Filipinas de Acuzar *@
<!--<div class="modal fade" id="exampleModalCenterE" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content inclusion-cnt">
            <div class="modal-header inclusion-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body inclusion-wrap">
                <img src="~/assets/img/Inclusions/Heritage Escape at Las Casas Filipinas de Acuzar_21.jpg" />
            </div>
        </div>
    </div>
</div>-->
