
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0 sec-trans">
    <div class="slide-image">
        <div class="div-cover-img-transpo">
            <div class="mapouter-trans">
                <div class="gmap_canvas">
                    <iframe class="gmap_canvas" id="gmap_canvas" src="https://maps.google.com/maps?q=Las%20Casas%20Filipinas%20de%20Acuzar%20Brgy.%20Ibaba,%20Bagac,%20Bataan,%20Philippines&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br>
                    <a href="https://www.embedgooglemap.net">build custom google map</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-cover-t" style="background-color: #FAEDDD;">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="col-md-3"></div>
            <div class="col-ms-5 text-center">
                <p class="container fnt-size15 mt-20 mb-20" style="font-size:16px;">
                    <b>
                        Las Casas Filipinas de Acuzar<br />
                        Brgy. Ibaba, Bagac, Bataan 2107, Philippines
                    </b>
                </p><br />
                <h2 class="fnt-family-playfair"><strong>TRANSPORTATION</strong></h2>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
</section>
<section class="pt-0 pb-0">
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-1 order-lg-1">
            <img src="~/assets/img/Transportation/via sea.jpeg" class="about-img m-cover" alt="transportation" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-2 order-lg-2 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>VIA SEA </b>
            </h2>
            <p class="font-playfair font-size16">1Bataan Integrated Transport System Inc</p>
            <p class="font-playfair font-size16 p-3">
                You may take the ferry from Esplanade Seaside Terminal to Port of Capinpin,
                Orion. 1Bataan has a shuttle service which will drop you off at Jollibee, Balanga.
                From there, you may take a bus or jeepney going to Filipino Japanese Friendship Tower,
                Bagac then a tricycle going to Las Casas Filipinas de Acuzar
                <br />
            </p>
            <p class="font-playfair font-size16 p-3">
                FERRY OPERATIONS OF 1BATAAN INTEGRATED TRANSPORT SYSTEM WILL REMAIN SUSPENDED UNTIL FURTHER NOTICCE
                <br />
            </p>
            <div class="m-mb-20">
                <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <ul class="ul-socmed" style="padding:0px!important;">
                        <li><a href="https://www.facebook.com/ITS1Bataan"><i class="bi-facebook" style="color: #623015;"></i></a></li>
                        <li><a href="https://www.instagram.com/its1Bataan/"><i class="bi-instagram" style="color: #623015;"></i></a></li>
                        <li><a href="https://twitter.com/ITS1Bataan"><i class="bi-twitter" style="color: #623015;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-100 pl-pr-100 order-2 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans text-black">
                <b>VIA PRIVATE CAR</b>
            </h2>
            <p class="font-playfair font-size16 p-3">
                From Manila, Bagac, Bataan is a 3-hour drive via the North Luzon Expressway (NLEX) and exit at San Fernando,
                Pampanga. Take the westbound side of Jose Abad Santos Avenue (Gapan-Olongapo Road), heading towards Bacolor,
                Guagua, and Lubao in Pampanga
                <br />
            </p>
            <p class="font-playfair font-size16 p-3">
                Upon reaching Dinalupihan, turn left at Roman Superhighway. Once in Balanga City,
                turn right at Gov. J.J. Linao National Road. Drive along the scenic route at the foot of
                Mt. Samat until you reach the town of Bagac. Follow the road markers that point to Las Casas.
                <br />
            </p>
            <div class="m-mb-20 mt-2">
                <div class="col-md-12">
                    <a href="https://drive.google.com/file/d/1nKKmsBVFsh8fOqD-A-SzqNaJF1TzfmL6/view?usp=sharing" target="_blank" class="btn-lc fnt-1vw">DOWNLOAD OUR DIRECTION MAP </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-1 order-lg-1">
            <img src="~/assets/img/Transportation/road.jpg" class="about-img m-cover" alt="transportation" />
        </div>
    </div>
</section>

<section style="background-color: #F4E2BB;">
    <div class="container">
        <div class="col-md-12 text-center mt-4" data-aos="fade-up" data-aos-delay="200">
            <h4 class="font-opensans text-black"><strong>VIA PUBLIC TRANSPORTATION</strong></h4>
        </div>
        @*<div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
            <div>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>
        </div>*@
        <div class="row mt-4">
            <div class="col-md-6 br-trans" data-aos="fade-up" data-aos-delay="200">
                <div class="col-md-12">
                    <p class="font-playfair font-size16 p-3">
                        From Pasay Rotonda along EDSA (below MRT station) – approx. PHP300+/pax
                        <br /> <br />
                        • Take the Genesis Bus to Balanga Bus Station (trip starts at 4:00AM; bus arrives every 30 minutes)
                        <br /> <br />
                        • From the bus station, take the jeepney going to Bagac or Morong (Bagac-bound has a limited time while Morong-bound has a longer time)
                        <br /> <br />
                        • Upon reaching Bagac, get down at the Filipino-Japanese Friendship Tower and go to the tricycle station
                        <br /> <br />
                        • Take tricycle going to Las Casas Filipinas de Acuzar (Gate 5 entrance)
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="col-md-12">
                    <p class="font-playfair font-size16 p-3">
                        From Cubao along EDSA (below MRT station) – approx. PHP270+/pax
                        <br /> <br />
                        • Take the Genesis Bus or Bataan Transit along EDSA Cubao to Balanga Bus Station (trip starts at 4:00am; bus arrives every 30 minutes)
                        <br /> <br />
                        • From the bus station, take the jeepney going to Bagac or Morong (Bagac-bound has a limited time while Morong-bound has a longer time)
                        <br /> <br />
                        • Upon reaching Bagac, get down at the Filipino-Japanese Friendship Tower and go to the tricycle station
                        <br /> <br />
                        • Take tricycle going to Las Casas Filipinas de Acuzar (Gate 5 entrance)
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
                <div class="col-md-12">
                    <p class="fnt-family-playfair" style="font-style:italic;">
                        *Schedule of trips may change without prior notice; it is advisable to contact the
                        transportation company to book your trip.
                    </p>
                </div>
            </div>
        </div>
        @*<div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
            <a href="https://lascasasfilipinas.reserve-online.net/" class="btn-book-now" target="_blank">BOOK NOW</a>
        </div>*@
    </div>
</section>

