
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            <img src="~/assets/img/Experiences/Unique Dining Activities/LASCASAS-04.jpg" class="f-and-b m-cover" alt="cover" />
        </div>
    </div>
</section>
<section class="pt-0 pb-0">
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>FITNESS  </b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Fancy a workout? Step inside our fitness gym and enjoy state-of-the-art equipment by 
                Technogym and have the option to work with our fitness trainers.
            </p>
            <div class="m-mb-20">
                <div class="col-md-12">
                    <a href="~/Experiences/Fitness" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/Gym.jpg" class="about-img m-cover" alt="experiences" />
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/MajayjayWellnessSpa/cover.jpg" class="about-img m-cover" alt="experiences" />
        </div>
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>SPA & WELLNESS </b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Relieve yourself from stress and enjoy our variety of traditional Filipino massages 
                available at our Majayjay Wellness & Spa
            </p>
            <div class="m-mb-20">
                <div class="col-md-12">
                    <a href="~/Experiences/MajayjayWellnessAndSpa" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>YOGA & MEDITATION </b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                Stay grounded and connected through a series of yoga and meditation classes available within the resort
            </p>
            <div class="m-mb-20">
                <div class="col-md-12">
                    <a href="~/Experiences/YogaAndMeditation" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Experiences/Experiences/Yoga.jpg" class="about-img m-cover" alt="experiences" />
        </div>
    </div>
</section>

