
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image m-cover">
        <div class="div-cover-img">
            <img src="~/assets/img/Casas/casas-cover.png" class="f-and-b m-cover" alt="casa" />
        </div>
    </div>

</section>
<main>
    <div class="container">
        <div class="col-ms-12 text-center mt-5">
            <h2 class="fnt-family-playfair"><strong>CASAS</strong></h2>
            <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                A fusion of modern influences and traditional grandeur, our Casas are distinctive mix of restored heritage
                homes and historically significant pieces inspired from storied houses that capture Philippine history.
            </p>
            <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                Discover our selection of our finest Casas offering superior amenities and exclusive guest experience.&nbsp;Comfortably accommodating and completely private, each Casa is available for guest rentals of up to 22 guests depending on the type.
            </p>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Balayan-I.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA BALAYAN I</strong></h4>
                    <p class="container mt-20 mb-20">
                        With a great view of the surroundings, and an open space below the casa.
                        Casa Balayan I is perfect for outdoor dining and reunion of family and friends.
                    </p>
                    <img src="~/assets/img/Casas/casa-balayan-icon.png" class="casa-icon" alt="casa icon" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Balayan-II.png" class="room-img" alt="casa icon" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA BALAYAN II</strong></h4>
                    <p class="container mt-20 mb-20">
                        Built in the early 1800s, Casa Balayan II weaves
                        the union between hispanic and oriental architecture.
                    </p>
                    <img src="~/assets/img/Casas/casa-balayan-II-icon.png" class="casa-icon" alt="casa" />
                </div>
            </div>
        </div>
        <div class="row mt-5 m-mt0 m-pt-0">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Binondo-I.jpg" class="room-img" alt="casa icon" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA BINONDO I</strong></h4>
                    <p class="container mt-20 mb-20">
                        The two-story casa takes pride in its artistic display of Nouveau paintings characterizing the Spanish era.
                        The balcony offers a relaxation haven and a beautiful view of the Plaza.
                    </p>
                    <img src="~/assets/img/Casas/Casa-Binondo-I-icon.png" class="casa-icon" alt="casa" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa Binondo2.jpg" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA BINONDO II</strong></h4>
                    <p class="container mt-20 mb-20">
                        Inspired by the architectural design of houses in Manila during the Spanish colonization,
                        the three-bedroom casa accommodates a maximum of 6 guests.
                    </p>
                    <img src="~/assets/img/Casas/Casa-Binondo-II-icon.png" class="casa-icon" alt="casa icon" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-baliuag.jpg" class="room-img" alt="casa"/>
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA BALIUAG</strong></h4>
                    <p class="container mt-20 mb-20">
                        Built in 1898 in front of Baliuag Church in Bulacan, the two-bedroom casa is highly floral in motif
                        and located right across Plaza Tobias.
                    </p>
                    <img src="~/assets/img/Casas/casa-baliuag-icons.png" class="casa-icon" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Balanga.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA BALANGA</strong></h4>
                    <p class="container mt-20 mb-20">
                        Nestled in a semi-exclusive island, the casa features a private promenade and bougainvillea trellis.
                    </p>
                    <img src="~/assets/img/Casas/casa-balanga-icons.png" class="casa-icon" alt="casa" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Bonita.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA BONITA</strong></h4>
                    <p class="container mt-20 mb-20">
                        Spacious studio-type with chic bed and bath and two separate bathtubs.
                        Perfect for a romantic getaway.
                    </p>
                    <img src="~/assets/img/Casas/casa-bonita-icons-1.png" class="casa-icon" alt="casa" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0  m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Byzantina.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA BYZANTINA</strong></h4>
                    <p class="container mt-20 mb-20">
                        Used to stand tall along the streets of Binondo in Manila, Casa Byzantina, or referred to as “bahay na bato” during its time, is Las Casas’ most luxurious six-bedroom accommodation complete with luxurious amenities, 24/7 butler service, and free cocktails.
                    </p>
                    <img src="~/assets/img/Casas/casa-byzantina-icons.png" class="casa-icon" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Esquina.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA ESQUINA</strong></h4>
                    <p class="container mt-20 mb-20">
                        Spanish royalty living fills your senses from intricately-designed interiors
                        to elaborate features that include an old-world inspired bathing area.
                    </p>
                    <img src="~/assets/img/Casas/casa-esquina-icons.png" class="casa-icon" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Gapan.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA GAPAN</strong></h4>
                    <p class="container mt-20 mb-20">
                        Nestled on semi-exclusive island in Las Casas, the five-room casa has commanding views of the Umagol River.
                    </p>
                    <img src="~/assets/img/Casas/casa-gapan-icons.png" class="casa-icon" alt="casa" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Irosin.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA IROSIN</strong></h4>
                    <p class="container mt-20 mb-20">
                        In a spectacular semi-exclusive island, cut from the rest of the heritage property,
                        the four-bedroom casa offers stunning views of the lake and the mountains.
                    </p>
                    <img src="~/assets/img/Casas/casas-irsosin-icons.png" class="casa-icon" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Jaen.jpg" class="room-img" alt="casa"/>
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA JAEN II</strong></h4>
                    <p class="container mt-20 mb-20">
                        Referred to as the White House, built in 1901 and served as the residence of the first mayor of Jaen.
                        Comfortable two-story casa that can host 10 persons.
                    </p>
                    <img src="~/assets/img/Casas/casa-jaen-icon.png" class="casa-icon" alt="casa" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-la-drillo.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA LA DRILLO</strong></h4>
                    <p class="container mt-20 mb-20">
                        One of the striking archival houses and notable as the only brick house in Estero de Binondo with European-inspired architecture.
                    </p>
                    <img src="~/assets/img/Casas/casa-ladrillo-icons.png" class="casa-icon" alt="casa" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/la-biera-I.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>LA RIBERA I</strong></h4>
                    <p class="container mt-20 mb-20">
                        Situated in an exclusive area within the rows of Accesoria, the casa features a Roman bath-like pool,
                        with a riverside view called Estero de Binondo.
                    </p>
                    <img src="~/assets/img/Casas/la-ribera-1-icons.png" class="casa-icon" alt="casa" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-lemery.png" class="room-img" alt="casa"/>
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA LEMERY</strong></h4>
                    <p class="container mt-20 mb-20">
                        An artistic casa notable for its unique columns shaped in the form of women called caryatids.
                    </p>
                    <img src="~/assets/img/Casas/casa-lemery-icons.png" class="casa-icon" alt="casa" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-meycauyan.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA MEYCAUYAN</strong></h4>
                    <p class="container mt-20 mb-20">
                        First built in San Fernando, Pampanga in 1913 then was later moved to Meycauayan. Rebuilt in Las Casas.
                        the pineapple motif on the ceiling made from a plain metal sheet is one of its attractions.
                    </p>
                    <img src="~/assets/img/Casas/casa-meycauayan-icons.png" class="casa-icon" alt="casa" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-san-luis.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA SAN LUIS</strong></h4>
                    <p class="container mt-20 mb-20">
                        Originally located in Pulilan, Bulacan, then dismantled and brought to San Luis, Pampanga.
                        Rebuilt in Las Casas, the casa accommodates up to 22 guests.
                    </p>
                    <img src="~/assets/img/Casas/casa-san-luis-icons.png" class="casa-icon" alt="casa" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-san-miguel.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA SAN MIGUEL</strong></h4>
                    <p class="container mt-20 mb-20">
                        A five-bedroom casa with an enormous living room and a game room for a fun, family vacation.
                    </p>
                    <img src="~/assets/img/Casas/casa-san-miguel-icons.png" class="casa-icon" alt="casa" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Las-Casas-Terraza.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA TERRAZA</strong></h4>
                    <p class="container mt-20 mb-20">
                        Quaint and lovely home for two guests with a terrace overlooking the beachfront. 
                        four-poster bed and romantic draperies.
                    </p>
                    <img src="~/assets/img/Casas/casa-terraza-icons.png" class="casa-icon" alt="casa" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Las-Casas-Casa-Tondo.png" class="room-img" alt="casa" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>CASA TONDO</strong></h4>
                    <p class="container mt-20 mb-20">
                        Intricately-designed roof and with a lovely view of the lush greenery around Las Casas, 
                        the three-bedroom casa accommodates six guests.
                    </p>
                    <img src="~/assets/img/Casas/casa-tondo-icon.png" class="casa-icon" alt="casa" />
                </div>
            </div>
        </div>
        <div class="row mt-5 m-plr15">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pr-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/island-2v1.png" class="room-img" alt="casa" />
                </div>

            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pl-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/island-2v2.png" class="room-img" alt="casa" />
                </div>
            </div>
            <div class="col-lg-12 pt-lg-0 order-lg-1 mt-3 content m-pt-0 pl-0 text-center mb-5">
                <h4 class="fnt-family-playfair"><strong>ISLAND 2</strong></h4>
                <p class="container mt-20 mb-20">
                    Las Casas introduces the novel concept of renting out your own private island.
                    Escape to your own oasis in Island 2 offering idyllic exclusivity and privacy away from the rest of the property.
                    With breathtaking views of the mountain and the lake as the backdrop for the three well-appointed villas,
                    experience luxury living with 24/7 butler service, complimentary cocktails and Hermès bath amenities.
                </p>
                <img src="~/assets/img/Casas/island-icons.png" class="casa-icon-island" alt="casa" />
            </div>
        </div>
    </div>

</main>
