
@{
    ViewBag.Title = "Bespoke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image">
        <div class="div-cover-img">
            <img src="~/assets/img/Dining/bespokedining/cover.png" class="f-and-b m-cover" />
        </div>
    </div>

</section>
<section class="mt-3">
    <div class="container">
        <div class="col-lg-12 text-center mt-1">
            <h2>BESPOKE DINING EXPERIENCES</h2>

        </div>
        <div class="col-lg-12 text-center" id="test1" data-aos="fade-left" data-aos-delay="100">

            <section id="portfolio" class="portfolio text-center">
                <div class="container" data-aos="fade-up">

                    <div class="text-center fnt-20px mt-3 mb-3">
                        <h5>BESPOKE DINING EXPERIENCES</h5>
                        <p>
                            At times, we require something more private and intimate. 
                            Our team at Las Casas offers bespoke dining experiences be it for small groups of 2 or larger parties. 
                            Choose from our set menus and private locations within the resort for the setting you desire. 
                            We offer boodle-style or kamayan lunches or dinners as well as Italian and Filipino menus. 
                            Each booking comes equipped with your own personal butler to cater to your needs.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-md-12 mt-100 text-center">
        <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR STAY</strong></h4>
    </div>
    <div class="col-md-12 text-center">
        <div>
            <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
        </div>

    </div>

    <div class="col-md-12 text-center">
        <p class="fnt-family-playfair"><strong>(02) 8833-3333 | reservations@lascasasfilipinas.com</strong></p>
    </div>
    <div class="col-md-12 text-center mt-5">
        <a href="https://staahmax.staah.net/be/index_be?propertyId=MzcxNQ" class="btn-lc" target="_blank">BOOK NOW</a>
        @*<input type="submit" class="btn-booknow" value="BOOK NOW" />*@
    </div>
</section>

