
@{
    ViewBag.Title = "Binondo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image">
        <div class="div-cover-img">
            <img src="~/assets/img/Dining/01 binondo hall/Binondo Hall.jpg" class="f-and-b m-cover" alt="dining" />
        </div>
    </div>

</section>
<section class="mt-3">
    <div class="container">
        <div class="col-lg-12 text-center mt-1">
            <h2 class="title-color">Binondo Hall</h2>
            <p class="fnt-family-playfair title-color container fnt-size15 mt-20 mb-20" style="font-size:25px;font-style:italic;">
                Breakfast
            </p>
        </div>
        <div class="col-lg-12 text-center" id="test1" data-aos="fade-left" data-aos-delay="100">

            <section id="portfolio" class="portfolio text-center">
                <div class="container" data-aos="fade-up">

                    <div class="text-center fnt-20px mt-3 mb-3">
                        <p>
                            Join us at the Binondo Hall for a wonderful spread of our best Filipino and Continental 
                            Breakfast dishes, several options await for you to choose from.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-md-12 mt-100 text-center">
        <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR STAY</strong></h4>
    </div>
    <div class="col-md-12 text-center">
        <div>
            <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
        </div>
    </div>

    <div class="col-md-12 text-center">
        <p class="fnt-family-playfair"><strong>reservations@lascasasfilipinas.com</strong></p>
    </div>
    <div class="col-md-12 text-center mt-5">
        <a href="https://staahmax.staah.net/be/index_be?propertyId=MzcxNQ" class="btn-lc" target="_blank">BOOK NOW</a> <br />
        @*<input type="submit" class="btn-booknow" value="BOOK NOW" />*@
    </div>
</section>

