
@{
    ViewBag.Title = "CafeDelRio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {


    <link href='~/assets/css/slider.css' rel='stylesheet' />
}
<section>
    <div class="carousel">
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image m-cover">
                    <div class="div-cover-img m-cover">
                        <img src="~/assets/img/Dining/cafedelrio/02 Cafe del rio/20220318-MEB_4661.jpg" class="f-and-b m-cover" alt="dining" />
                    </div>
                </div>
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image m-cover">
                    <div class="div-cover-img m-cover">
                        <img src="~/assets/img/Dining/cafedelrio/02 Cafe del rio/cafe del rio.jpg" class="f-and-b m-cover" alt="dining" />
                    </div>
                </div>
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>

            <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
            </div>
        </ul>
    </div>
</section>
<section class="mt-3">
    <div class="container">
        <div class="col-lg-12 text-center mt-1">
            <h2 class="title-color">CAFÉ DEL RIO</h2>
          
        </div>
        <div class="col-lg-12 text-center" id="test1" data-aos="fade-left" data-aos-delay="100">

            <section id="portfolio" class="portfolio text-center">
                <div class="container" data-aos="fade-up">

                    <div class="text-center fnt-20px mt-3 mb-3">
                        <p class="fnt-family-playfair title-color container fnt-size15 mt-20 mb-20" style="font-size:25px;font-style:italic;">
                            Spanish Tapas Bar
                        </p>
                        <p>
                            Serving Spanish tapas dishes and easy bites, Café Del Rio at
                            Casa Santa Rita offers al fresco dining by the breathtaking
                            Umagol River.
                        </p>
                    </div>

                    <div class="row portfolio-container text-center pt-3" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-3 col-md-3 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">
                                <img src="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU1.jpg" class="img-fluid" alt="dining">
                                <div class="portfolio-info">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">

                                <img src="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU2.jpg" class="img-fluid" alt="dining">
                                <div class="portfolio-info">

                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">
                                <img src="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU3.jpg" class="img-fluid" alt="dining">
                                <div class="portfolio-info">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">

                                <img src="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU4.jpg" class="img-fluid" alt="dining">
                                <div class="portfolio-info">

                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row portfolio-container text-center pt-3" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-3 col-md-3 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">
                                <img src="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU5.jpg" class="img-fluid" alt="dining">
                                <div class="portfolio-info">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">

                                <img src="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU6.jpg" class="img-fluid" alt="dining">
                                <div class="portfolio-info">

                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">
                                <img src="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU7.jpg" class="img-fluid" alt="dining">
                                <div class="portfolio-info">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/cafedelrio/LCBB CAFE DEL RIO MENU7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 portfolio-item filter-app text-center">
                        </div>
                    </div>

                    <br/>


                    <div class="col-md-12">
                        <a href="https://drive.google.com/file/d/1Jat2551on0hbthNdes2wzyXVYag9edlK/view?usp=sharing" target="_blank" class="btn-lc fnt-1vw">DOWNLOAD MENU </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-md-12 mt-100 text-center">
        <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR STAY</strong></h4>
    </div>
    <div class="col-md-12 text-center">
        <div>
            <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
        </div>

    </div>

    <div class="col-md-12 text-center">
        <p class="fnt-family-playfair"><strong>reservations@lascasasfilipinas.com</strong></p>
    </div>
    <div class="col-md-12 text-center mt-5">
        <a href="https://staahmax.staah.net/be/index_be?propertyId=MzcxNQ" class="btn-lc" target="_blank">BOOK NOW</a>
        @*<input type="submit" class="btn-booknow" value="BOOK NOW" />*@
    </div>
</section>

