
@{
    ViewBag.Title = "LaPrillaAndPica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image">
        <div class="div-cover-img">
            <img src="~/assets/img/Dining/laparillaandpicapica/06 La Parilla/154.jpg" class="f-and-b m-cover" alt="dining" />
        </div>
    </div>

</section>
<section class="mt-3">
    <div class="container">
        <div class="col-lg-12 text-center mt-1" data-aos="fade-up" data-aos-delay="200">
            <h2>LA PARILLA AND PICA-PICA</h2>

        </div>
        <div class="col-lg-12 text-center" id="test1" data-aos="fade-left" data-aos-delay="100">

            <section id="portfolio" class="portfolio text-center">
                <div class="container" data-aos="fade-up">

                    <div class="text-center fnt-20px mt-3 mb-3">
                        <p class="fnt-family-playfair title-color container fnt-size15 mt-20 mb-20" style="font-size:25px;font-style:italic;">
                            Filipino delicacies Snack Bar
                        </p>
                        <p>
                            Serving Filipino street food, local delicacies, and desserts, a trip
                            to La Parilla is perfect after a day’s worth of activities.
                        </p>
                    </div>
                    <div class="row portfolio-container text-center pt-3" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-4 col-md-4 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">
                                <img src="~/assets/img/Dining/laparillaandpicapica/06 La Parilla/Bibingka.jpg" class="img-fluid" alt="dinig">
                                <div class="portfolio-info">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/laparillaandpicapica/06 La Parilla/Bibingka.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">

                                <img src="~/assets/img/Dining/laparillaandpicapica/06 La Parilla/Puto Bumbong.jpg" class="img-fluid" alt="dining">
                                <div class="portfolio-info">

                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/laparillaandpicapica/06 La Parilla/Puto Bumbong.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 portfolio-item filter-app text-center">
                            <div class="portfolio-wrap text-center">
                                <img src="~/assets/img/Dining/laparillaandpicapica/06 La Parilla/Turon.jpg" class="img-fluid" alt="dining">
                                <div class="portfolio-info">

                                    <div class="portfolio-links">
                                        <a href="~/assets/img/Dining/laparillaandpicapica/06 La Parilla/Turon.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bxs-zoom-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-md-12 mt-100 text-center">
        <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR STAY</strong></h4>
    </div>
    <div class="col-md-12 text-center">
        <div>
            <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
        </div>

    </div>

    <div class="col-md-12 text-center">
        <p class="fnt-family-playfair"><strong>reservations@lascasasfilipinas.com</strong></p>
    </div>
    <div class="col-md-12 text-center mt-5">
        <a href="https://staahmax.staah.net/be/index_be?propertyId=MzcxNQ" class="btn-lc" target="_blank">BOOK NOW</a>
        @*<input type="submit" class="btn-booknow" value="BOOK NOW" />*@
    </div>
</section>

