<div id="casas-load" class="et_pb_with_border et_pb_section et_pb_section_1 casas-content et_pb_fullwidth_section et_section_regular">




    <div class="et_pb_module et_pb_fullwidth_menu et_pb_fullwidth_menu_0 et_pb_bg_layout_light et_pb_text_align_left et_dropdown_animation_fade et_pb_fullwidth_menu--without-logo et_pb_fullwidth_menu--style-left_aligned et_had_animation" style="">


        <div class="et_pb_row clearfix">

            <div class="et_pb_menu__wrap">
                <div class="et_pb_menu__menu">
                    <nav class="et-menu-nav fullwidth-menu-nav">
                        <ul id="menu-gallery-menu" class="et-menu fullwidth-menu nav">
                            <li id="menu-item-1166" class="et_pb_menu_page_id-1166 menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-1166"><a href="https://lascasasfilipinas.com/gallery-casas" aria-current="page">CASAS</a></li>
                            <li id="menu-item-1167" class="et_pb_menu_page_id-1167 menu-item menu-item-type-custom menu-item-object-custom menu-item-1167"><a href="https://lascasasfilipinas.com/resort-gallery">RESORT</a></li>
                            <li id="menu-item-1168" class="et_pb_menu_page_id-1168 menu-item menu-item-type-custom menu-item-object-custom menu-item-1168"><a href="https://lascasasfilipinas.com/experiences-gallery">EXPERIENCES</a></li>
                            <li id="menu-item-1233" class="et_pb_menu_page_id-1233 menu-item menu-item-type-custom menu-item-object-custom menu-item-1233"><a href="https://lascasasfilipinas.com/arts-craftsmanship-gallery">ARTS &amp; CRAFTSMANSHIP</a></li>
                        </ul>
                    </nav>
                </div>


                <div class="et_mobile_nav_menu">
                    <div class="mobile_nav closed">
                        <span class="mobile_menu_bar"></span>
                        <ul id="mobile_menu1" class="et_mobile_menu">
                            <li id="menu-item-1166" class="et_pb_menu_page_id-1166 menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-1166 et_first_mobile_item"><a href="https://lascasasfilipinas.com/gallery-casas" aria-current="page">CASAS</a></li>
                            <li id="menu-item-1167" class="et_pb_menu_page_id-1167 menu-item menu-item-type-custom menu-item-object-custom menu-item-1167"><a href="https://lascasasfilipinas.com/resort-gallery">RESORT</a></li>
                            <li id="menu-item-1168" class="et_pb_menu_page_id-1168 menu-item menu-item-type-custom menu-item-object-custom menu-item-1168"><a href="https://lascasasfilipinas.com/experiences-gallery">EXPERIENCES</a></li>
                            <li id="menu-item-1233" class="et_pb_menu_page_id-1233 menu-item menu-item-type-custom menu-item-object-custom menu-item-1233"><a href="https://lascasasfilipinas.com/arts-craftsmanship-gallery">ARTS &amp; CRAFTSMANSHIP</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<div class="et_pb_section et_pb_section_2 et_pb_fullwidth_section et_section_regular et_had_animation" style="">




    <div class="et_pb_module et_pb_fullwidth_code et_pb_fullwidth_code_0">


        <div class="et_pb_code_inner">
            <!-- Final Tiles Grid Gallery for WordPress v3.5.1 free -->

            <style>
                #ftg-11 .tile .icon {
                    color: #ffffff;
                }

                #ftg-11 .ftg-items .loading-bar i {
                    background: #666;
                }

                #ftg-11 .ftg-items .loading-bar {
                    background: #fff;
                }

                #ftg-11 .tile .icon {
                    font-size: 12px;
                }

                #ftg-11 .tile .icon {
                    margin: -6px 0 0 -6px;
                }

                #ftg-11 .tile .caption-block .text-wrapper span.text {
                    font-size: 12px;
                }

                #ftg-11 .tile .caption-outside .text-wrapper span.text {
                    font-size: 12px;
                }

                #ftg-11 .tile .caption-block .text-wrapper span.title {
                    font-size: 14px;
                }

                #ftg-11 .tile .caption-outside .text-wrapper span.title {
                    font-size: 14px;
                }

                #ftg-11 .tile {
                    background-color: transparent;
                }

                    #ftg-11 .tile .caption-block .text-wrapper span.text {
                        color: #ffffff;
                    }

                    #ftg-11 .tile .caption-block .text-wrapper span.title {
                        color: #ffffff;
                    }

                    #ftg-11 .tile .caption-outside .text-wrapper span.text {
                        color: #ffffff;
                    }

                    #ftg-11 .tile .caption-outside .text-wrapper span.title {
                        color: #ffffff;
                    }

                    #ftg-11 .tile .ftg-social a {
                        color: #ffffff;
                    }

                    #ftg-11 .tile .caption-block {
                        transition-timing-function: ease;
                    }

                    #ftg-11 .tile .caption-block {
                        transition-duration: 0.25s;
                    }

                    #ftg-11 .tile .tile-inner:before {
                        background-color: #9b9b9b;
                    }

                    #ftg-11 .tile .tile-inner:before {
                        background-color: rgba(155, 155, 155, 0.1);
                    }

                    #ftg-11 .tile .caption-block, #ftg-11 .tile .caption-outside {
                        border-color: #ffffff;
                    }

                    #ftg-11 .tile:hover img {
                        -moz-transform:;
                        -webkit-transform:;
                        -o-transform:;
                        -ms-transform:;
                        transform:;
                    }
            </style>
            <a name="1"></a><div class="final-tiles-gallery   caption-inside caption-frame caption-none caption-middle caption-center" id="ftg-11" style="width:100%">
                <div class="ftg-items" style="position: relative; min-width: 500px; height: 4000px;">
                    <div class="loading-bar"><i style="width: 100%;"></i></div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 625px; top: 0px; left: 0px; display: block; transform: scale(1);">
                        <a title="Casa Balayan" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Balayan-1-1-768x512.jpg">
                            <img alt="Casa Balayan" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Balayan-1-1-1024x683.jpg" width="1024" height="683" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/Balayan-1-1-1024x683.jpg" style="height: auto; top: -4.82153px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 625px; top: 0px; left: 951.5px; display: block; transform: scale(1);">
                        <a title="Casa Balayan" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Balayan-2-a-1-768x512.jpg">
                            <img alt="Casa Balayan" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Balayan-2-a-1-1024x683.jpg" width="1024" height="683" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/Balayan-2-a-1-1024x683.jpg" style="height: auto; top: -4.82153px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 1425px; top: 625px; left: 0px; display: block; transform: scale(1);">
                        <a title="Casa La Drillo" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/La-Drillo-b-1-768x1152.jpg">
                            <img alt="Casa La Drillo" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/La-Drillo-b-1-683x1024.jpg" width="683" height="1024" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/La-Drillo-b-1-683x1024.jpg" style="height: auto; top: -0.77672px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 625px; top: 625px; left: 951.5px; display: block; transform: scale(1);">
                        <a title="Casa Balayan" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Balayan-2-b-1-768x512.jpg">
                            <img alt="Casa Balayan" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Balayan-2-b-1-1024x683.jpg" width="1024" height="683" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/Balayan-2-b-1-1024x683.jpg" style="height: auto; top: -4.82153px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 700px; top: 1250px; left: 951.5px; display: block; transform: scale(1);">
                        <a title="Casa Binondo" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Binondo-2-a-1-768x576.jpg">
                            <img alt="Casa Binondo" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Binondo-2-a-1-1024x768.jpg" width="1024" height="768" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/Binondo-2-a-1-1024x768.jpg" style="height: auto; top: -6.8125px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 625px; top: 1950px; left: 951.5px; display: block; transform: scale(1);">
                        <a title="Casa Binondo" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Binondo-2-b-1-768x512.jpg">
                            <img alt="Casa Binondo" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Binondo-2-b-1-1024x683.jpg" width="1024" height="683" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/Binondo-2-b-1-1024x683.jpg" style="height: auto; top: -4.82153px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 625px; top: 2050px; left: 0px; display: block; transform: scale(1);">
                        <a title="Casa Binondo" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Binondo-2-1-768x512.jpg">
                            <img alt="Casa Binondo" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Binondo-2-1-1024x683.jpg" width="1024" height="683" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/Binondo-2-1-1024x683.jpg" style="height: auto; top: -4.82153px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 1425px; top: 2575px; left: 951.5px; display: block; transform: scale(1);">
                        <a title="Casa Bonita" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Bonita-1-768x1152.jpg">
                            <img alt="Casa Bonita" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/Bonita-1-683x1024.jpg" width="683" height="1024" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/Bonita-1-683x1024.jpg" style="height: auto; top: -0.77672px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 625px; top: 2675px; left: 0px; display: block; transform: scale(1);">
                        <a title="Casa La Drillo" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/La-Drillo-a-1-768x512.jpg">
                            <img alt="Casa La Drillo" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/La-Drillo-a-1-1024x683.jpg" width="1024" height="683" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/La-Drillo-a-1-1024x683.jpg" style="height: auto; top: -4.82153px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                    <div class="tile ftg-preload ftg-loaded" style="position: absolute; width: 951.5px; height: 700px; top: 3300px; left: 0px; display: block; transform: scale(1);">
                        <a title="La Ribera" data-lightbox="lightbox" rel="lightbox" class=" tile-inner  ftg-lightbox" href="https://lascasasfilipinas.com/wp-content/uploads/2021/10/La-Ribera-1-1-768x576.jpg">
                            <img alt="La Ribera" class="item skip-lazy" data-class="item" data-ftg-source="https://lascasasfilipinas.com/wp-content/uploads/2021/10/La-Ribera-1-1-1024x768.jpg" width="1024" height="768" src="~/Gallery _ Las Casas Filipinas de Acuzar_files/La-Ribera-1-1-1024x768.jpg" style="height: auto; top: -6.8125px;">
                            <span class="icon fa fa-camera"></span>
                            <div class="caption-block">
                            </div>
                        </a>
                        <div class="ftg-social">
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">jQuery('#ftg-11 img.item').removeAttr('src');
                                                    jQuery(document).ready(function () {
                                                        setTimeout(function () {
                                                            jQuery('#ftg-11').finalTilesGallery({
                                                                minTileWidth: 500,
                                                                margin: 0,
                                                                loadMethod: 'sequential',
                                                                nonce: '0b86c8d970',
                                                                galleryId: '1',
                                                                setupFilters: true,
                                                                layout: 'columns',
                                                                debug: false,
                                                                gridSize: 25,
                                                                disableGridSizeBelow: 800,
                                                                allowEnlargement: true,
                                                                columns: [
                                                                    [4000, 2],
                                                                    [1024, 1],
                                                                    [800, 3],
                                                                    [480, 3],
                                                                    [320, 2]
                                                                ], selectedFilter: 'n-a'
                                                            });
                                                            jQuery(function () {
                                                                (function () {
                                                                    var rel = '';
                                                                    jQuery('#ftg-11 .ftg-lightbox').click(function (e) {
                                                                        rel = jQuery(this).attr('rel');
                                                                        jQuery('#ftg-11 .ftg-current').removeClass('ftg-current');
                                                                        jQuery('#ftg-11 [rel="' + rel + '"]').addClass('ftg-current');
                                                                    });
                                                                })();

                                                            });
                                                        }, 0);
                                                    });</script>
        </div>
    </div>


</div>