@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="height: 100vh">
    <div class="row" style="margin-top: 35%!important">
        <div class="col-md-12 text-center">
            <img src="https://img.icons8.com/doodle/48/000000/wrong-puzzle-piece.png" />
            <div class="error"><h1 class="error">Something went wrong. Try again.</h1></div>
        </div>
    </div>
</div>

