@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="div-cover-img-press">
        <img src="~/assets/img/Offer/World Travel Fair.jpg" class="f-and-b" />
    </div>
</section>