
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            <img src="~/assets/img/Shop and botique/shops.jpg" class="f-and-b m-cover" alt="cover" />
        </div>
    </div>
</section>
<section class="pt-0 pb-0">
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Shop and botique/Tiendesitas.jpg" class="about-img m-cover" alt="cover" />
        </div>
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>TIENDECITAS</b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                You may find souvenirs and memorabilia at our Tiendecitas located at the Reception 
                Area and at the Paseo de Escolta, open daily
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12">
                    <a href="~/Experiences/Heritage" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>*@
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="font-opensans fw-normal text-black">
                <b>SHOP</b>
                <br />
            </h2>
            <p class="font-playfair font-size20 p-3">
                A curated selection of local goods, our souvenir shop is set to launch this 2023. Stay tuned.
            </p>
            @*<div class="m-mb-20">
                <div class="col-md-12">
                    <a href="~/Experiences/Activities" target="_blank" class="btn-lc fnt-1vw">DETAILS </a>
                </div>
            </div>*@
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/Shop and botique/LC Shop.png" class="about-img m-cover" alt="cover" />
        </div>
    </div>
</section>
<section style="background-color: #F4E2BB;">
    <div class="container">
        <div class="col-md-12 text-center mt-3" data-aos="fade-up" data-aos-delay="200">
            <h4 class="fnt-family-playfair"><strong>WE LOOK FORWARD TO YOUR VISIT</strong></h4>
        </div>
        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
            <div>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            </div>
        </div>
        <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
            <p class="fnt-family-playfair"><strong>reservations@lascasasfilipinas.com</strong></p>
        </div>
        @*<div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
            <a href="https://lascasasfilipinas.reserve-online.net/" class="btn-book-now" target="_blank">BOOK NOW</a>
        </div>*@
    </div>
</section>

