@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="div-cover-img m-cover">
        <img src="~/assets/img/ContactUs/cover/cover-img.png" class="f-and-b m-cover" alt="cover" />
    </div>
</section>
<section>
    <div class="col-md-12 text-center" data-aos="fade-up" data-aos-delay="200">
        <h2 class="font-opensans">CONTACT US</h2>
    </div>
    <div class="container mt-5" data-aos="fade-up" data-aos-delay="200">
        <div class="col-md-12 row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <h5>MICE</h5>
                    <p class="font-playfair">
                        @*Marife Franco<br />
                        marifefranco@lascasasfilipinas.com<br />*@
                        mice@lascasasfilipinas.com<br />
                        @*+63 917 872 9367*@
                    </p>
                </div>
                <div class="col-md-12">
                    <h5>Weddings and Social Events</h5>
                    @*<p class="font-playfair">
            Terence Sartiga<br />
            tjsartiga@lascasasfilipinas.com<br />
            +63917-8729368
        </p>*@

                    <p class="font-playfair">
                        @*Shea Lasmarias<br />*@
                        weddings@lascasasfilipinas.com<br />
                        @*+63 917 872 9368*@
                    </p>

                </div>
                <div class="col-md-12">
                    <h5>Influencer and Blogger Inquiries and Collaboration</h5>
                    <p class="font-playfair">
                        @*Angelica Marty<br />*@
                        socialmedia@lascasasfilipinas.com<br />
                        @*+63 917 803 9476*@
                    </p>
                </div>
                @*<div class="col-md-12">
                        <h5>Photo & Video Shoots</h5>
                        <p class="font-playfair">
                            Jhona Alyssa Villanueva<br />
                            jhona.villanueva@lascasasfilipinas.com<br />
                            +63 917 852 1047
                        </p>
                    </div>*@
                @*<div class="col-md-12">
                        <h5>Sales and Marketing Manager/Travel Agencies</h5>
                        <p class="font-playfair">
                            Lady Lou Pangilinan<br />
                            lady.pangilinan@lascasasfilipinas.com<br />
                            +63917-8729365
                        </p>
                    </div>*@
            </div>
            <div class="col-md-4">
                @*<div class="col-md-12">
                    <h5>Press and Media Inquiries, Media Visit and Collaboration</h5>
                    <p class="font-playfair">
                        socialmedia@lascasasfilipinas.com
                    </p>

                </div>*@
                <div class="col-md-12">
                    <h5>Influencer and Blogger Inquiries and Collaboration</h5>
                    <p class="font-playfair">
                        socialmedia@lascasasfilipinas.com
                    </p>
                </div>
                <div class="col-md-12">
                    <h5>For Inquiries and Bookings</h5>
                    <p class="font-playfair">
                        <strong>Reservation Team</strong><br />
                        +63919-056-7789 <br />
                        (632) 8860-5961 <br />
                        reservations@lascasasfilipinas.com
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</section>

<div class="ftr-bg-ht">
    <div class="container">
        <div class="col-md-12 row">
            <div class="col-md-4">
                <div class="footer-hdr">#MYLASCASASSTORY</div>
            </div>
            <div class="col-md-8">
                <div class="footer-p">Share your Las Casas experiences with us by tagging us at @@lascasasfilipinasdeacuzar</div>
            </div>
        </div>
    </div>
</div>


@* New woxo account *@

@*<div data-mc-src="3ef930ed-7ad1-4ae2-a190-3ca57d9874b9#instagram"></div>

    <script src="https://cdn2.woxo.tech/a.js#6356070f3f4a5344f112f48f"
         async data-usrc>
     </script>*@

<div loading="lazy"
     data-mc-src="c384af0f-c854-4bef-9292-df9994391508#instagram"></div>

<script src="https://cdn2.woxo.tech/a.js#6356070f3f4a5344f112f48f"
        async data-usrc>
</script>


@*<script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-005bf69f-1151-4f27-9fe8-9ab672d9e763"></div>*@


<br />