
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            <img src="~/assets/img/HomePage/about/cover.jpg" class="f-and-b m-cover" alt="cover" />
        </div>
    </div>
</section>
<section class="pt-0">
    <div class="col-ms-12 text-center mt-5" data-aos="fade-up" data-aos-delay="200">
        <h2 class="fnt-family-playfair"><strong>Pride in the past, hope for the future.</strong></h2><br />
        <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
            Las Casas Filipinas de Acuzar in Bataan is a beach resort, convention center,
            and heritage destination rolled into one. With its many facets, it is truly a
            unique destination with much to offer for every traveler.<br /><br />


            Home to Jose Acuzar’s collection of heritage houses that have been salvaged from total ruin and neglect,
            these houses were then renovated and rebuilt by a team of artisans and craftsmen in the town of Bagac,
            Bataan. Las Casas features the finest of Filipino craftsmanship, artistry, and skill giving the property a
            look and feel that is distinctive and its own.<br /><br />

            Las Casas blends the charm and character of the nation’s past with exceptionally welcoming and
            personalized service in a relaxed beach resort and hotel setting.
        </p>
    </div>
   
  
</section>

<section class="pt-0">
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-center mt-10prcnt pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20" >
            <div>
                <img src="~/assets/img/vs2/logo/LCHC logo.png" class="" width="250" alt="logo" />
            </div>
            <p class="font-playfair font-size20 p-3">
                A hospitality group featuring heritage resorts and hotels in the Philippines that celebrate Filipino artistry,
                craftsmanship, service and talent. Guided by our Las Casas Spirit philosophy, each property offers a unique experience and
                warmth of service that leaves long-lasting impressions to keep guests coming back for more.
            </p>
            @*<div class="m-mb-20">
                    <div class="col-md-12 text-center mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                        <a href="https://lascasasfilipinas.com/Experiences/Workshops" class="btn-lc" target="_blank">DETAILS</a>
                    </div>
                </div>*@
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/HomePage/about/1.jpg" class="about-img m-cover" alt="about" />
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/HomePage/about/2.jpeg"  class="about-img-abt m-cover" alt="about" />
        </div>
        <div class="col-lg-6 text-left mt-135 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h4 style="font-style:italic;">Our Story</h4>
            <h1 class="font-opensans text-black">
                <b>
                    A TIMELINE OF<br />
                    OUR HISTORY
                </b>
            </h1>
            <p class="font-playfair font-size20 p-3">
                The story of Las Casas Filipinas de Acuzar, which first opened as a resort in 2010, is a story of innovation, passion,
                and dedication to Filipino heritage. For the past decade, Las Casas has created a reputation for pushing the boundaries of
                local artistry and craftsmanship, breathing life into local culture and history, and creating spaces where every Filipino
                leaves with a sense of pride.
            </p>
            <div class="m-mb-20">
                <div class="col-md-12 text-left mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="/About/OurStory" class="btn-lc" target="_blank">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-left mt-100 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h4 style="font-style:italic;">Awards</h4>
            <h1 class="font-opensans text-black">
                <b>
                    HONORS AND<br />
                    ACCOLADES
                </b>
            </h1>
            <p class="font-playfair font-size20 p-3">
                For over a decade, Las Casas Filipinas de Acuzar has garnered several honors and accolades
                which we are proud to share with you.
            </p>
            <div class="m-mb-20">
                <div class="col-md-12 text-left mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="https://www.lascasasfilipinas.com/Awards" class="btn-lc" target="_blank">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/HomePage/about/3.jpg" class="about-img m-cover" alt="about" />
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/HomePage/about/4.jpg" style="width: 100%; height: 100%; object-fit: cover; overflow: hidden;" alt="about" />
        </div>
        <div class="col-lg-6 text-left mt-100 pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h4 style="font-style:italic;">Social Responsibility</h4>
            <h1 class="font-opensans text-black">
                <b>
                    OUR COMMITMENT <br />
                    TO INTRODUCING <br />
                    GREEN INITIATIVES
                </b>
            </h1>
            <p class="font-playfair font-size20 p-3">
                We are committed to making changes for the better. We are continuously working on eliminating the use of single-use plastic in the resort.
                Guests who bring their own water jug or purchase a Las Casas Nalgene Tumbler upon check-in can have their bottles filled up at any of our dining establishments within the resort.
                We are working with nearby environmental groups to create sustainable programs within the resort,
                starting with our Herb Garden, where we grow our own vegetables and herbs to be used in our restaurants,
                as well as our Beach Clean-Up activity where guests can participate in a beach clean-up and learn more
                about how they can make a positive impact for the environment.
                <br /> <br />
                Coming Soon.
            </p>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-left pl-pr-100 order-1 order-lg-1 m-p20 m-pl-pr-20">
            <div class="mt-135">
                <h4 style="font-style:italic;">Our Foundation</h4>
                <h1 class="font-opensans text-black">
                    <b>BELLAS ARTES PROJECTS</b>
                </h1>
                <p class="font-playfair font-size20 p-3">
                    and dynamic art field of contemporary art in the Philippines.
                    We support creative and knowledge production by local and international artists,
                    providing a platform for experimentation and interdisciplinary collaboration through our residency,
                </p>
            </div>
            <div class="m-mb-20">
                <div class="col-md-12 text-left mt-5 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="https://bellasartesprojects.org/" class="btn-lc" target="_blank">LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/HomePage/about/5.jpg" class="about-img m-cover" alt="about" />
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <img src="~/assets/img/HomePage/about/6.jpg" class="about-img m-cover" alt="about" />
        </div>
        <div class="col-lg-6 text-center mt-16rem order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20" style="font-family: 'open sans regular'; text-align: center;">
            <p class="text-black font-playfair" style="text-align: center; font-size: 50px; ">
                <b style="color: #524f4f;">
                    CONNECTING
                    YOU WITH YOUR
                    ROOTS.
                </b>
            </p>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-6 text-left mt-16rem pl-pr-100 order-1 order-lg-1 m-mt20px m-p20 m-pl-pr-20">
            <h2 class="text-black">
                <b style="color: #524f4f;">
                    Las Casas Filipinas de Acuzar
                </b>
            </h2>
            <p class="font-playfair font-size20 p-3">
                Brgy. Ibaba, Bagac,<br />
                Bataan 2107, Philippines<br />
                Mobile No.:  +63917-872-9361 or +63915-851-9098<br />
            </p>
        </div>
        <div class="col-lg-6 m-pl-0 m-pr-0 order-2 order-lg-1">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe class="gmap_canvas" id="gmap_canvas" src="https://www.maps.google.com/maps?q=las%20casas%20bataan&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br>
                    <a href="https://www.embedgooglemap.net">build custom google map</a>
                </div>
            </div>
        </div>
    </div>

</section>
