,
@{
    ViewBag.Title = "OurStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            @*<img src="https://944470.smushcdn.com/2526082/wp-content/uploads/2021/09/Las-Casas-Filipinas-de-Acuzar-in-Bataan-Philippines-Our-Story.jpg?lossy=1&strip=1&webp=1" class="f-and-b m-cover" />*@
            <img src="~/assets/img/HomePage/about/Banner Bridge.jpg" class="f-and-b m-cover" alt="banner" />
        </div>
    </div>
</section>
<section class="pt-0">
    <div class="col-ms-12 text-center mt-5" data-aos="fade-up" data-aos-delay="200">
        <h2 class="fnt-family-playfair"><strong>OUR STORY</strong></h2><br />
        <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
            First opened its doors in 2010, Las Casas Filipinas de Acuzar is a story of innovation, 
            passion, and dedication to Filipino heritage. Over the past decade, 
            Las Casas has created spaces showcasing local history and culture, local artistry, 
            craftsmanship and Filipino sense of pride.
        </p>
    </div>
</section>
<section id="home" class="d-flex align-items-center justify-content-center pb-0">

    <div class="gallery1 js-flickity mb-5 m-cnt"
         data-flickity-options='{ "wrapAround": true, "autoPlay": 3500 }'>
        <div class="gallery1-cell">

            <div class="div-cover-img-flick">
                <img src="https://www.lascasasfilipinas.com/Our%20Story%20_%20Las%20Casas%20Filipinas%20de%20Acuzar_files/history-1.jpg" class="f-and-b-flick" alt="cover" />
            </div>
        </div>
        <div class="gallery1-cell">

            <div class="div-cover-img-flick">
                <img src="https://www.lascasasfilipinas.com/Our%20Story%20_%20Las%20Casas%20Filipinas%20de%20Acuzar_files/history-2.jpg" class="f-and-b-flick" alt="cover" />
            </div>

        </div>
        <div class="gallery1-cell">
            <div class="div-cover-img-flick">
                <img src="https://www.lascasasfilipinas.com/Our%20Story%20_%20Las%20Casas%20Filipinas%20de%20Acuzar_files/history-8.jpg" class="f-and-b-flick" alt="cover" />
            </div>

        </div>
    </div>
</section>
<section class="pt-0">
    <div class="col-ms-12 text-center mt-5" data-aos="fade-up" data-aos-delay="200">
        <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
            Having been an avid antique and arts collector, Jose L. Acuzar grew a particular 
            liking to local art works and pieces. He would collect old antiques from old houses 
            or pieces of old houses that have been sold for parts.
            <br /><br />
            Growing up in the region of Bataan, Acuzar felt a deep connection to the 
            place and had come back for vacations to his hometown of Balanga frequently.
            He found land located in the fishing village of Bagac, Bataan, only an hour away from Balanga.
            <br /><br />
            The 400-hectare estate overlooking a river was albeit ramshackle and mostly grassland. 
            With a beachfront and surrounding mountainous views, Acuzar grew very fond of the property. 
            He purchased the estate and built a country home with three bedrooms. 
            The estate became a private vacation property for the family with horse stables and small modern cottages.
            <br /><br />
            In 2008, Acuzar was offered parts of an old home in Cagayan Valley. 
            It sparked an idea to him to purchase the entire house that was being dismantled, 
            transferred, and rebuilt piece-by-piece in his estate in Bagac, Bataan. It simply 
            began with the houses on stilts – Casas Cagayan.
            <br /><br />
            In no time, he was offered heritage homes that were being sold. 
            Using the same method of dismantle, relocate, and rebuild, 
            Acuzar brought the heritage homes to his estate.
            <br /><br />
            While the estate remained private, more and more people heard about what he was
            doing and the interest to see the heritage houses grew by the number. 
            Acuzar saw an opportunity to make the property accessible to the public. 
            To continue financing his work in restoring the heritage houses with costly repairs 
            and refurbishments, the once private estate transformed into a resort business.
            <br /><br />
            In 2010, Las Casas opened its doors to the public as a beach resort. 
            As Acuzar grew his team of artisans, craftsmen, and craftswomen, 
            the property grew and expanded into 63 heritage homes and 34 structures 
            built in the style of old houses or buildings.
            <br /><br />
            Today, Las Casas is a renowned resort and heritage destination that 
            has garnered several awards and accolades throughout the past decade. 
            The business is guided by its advocacies to initiate innovative ways 
            to conserve the legacy of the heritage houses and to inspire pride 
            in the traditions that shaped Filipino heritage.
        </p>
    </div>
</section>
