
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="pb-0">
    <div class="slide-image">
        <div class="div-cover-img-press">
            @*<img src="https://944470.smushcdn.com/2526082/wp-content/uploads/2021/11/DJI_0549-2-scaled.jpg?lossy=1&strip=1&webp=1" class="f-and-b m-cover" />*@
            <img src="~/assets/img/Faq/LASCASAS-09.jpg" class="f-and-b m-cover" alt="cover" />
        </div>
    </div>
</section>
<main id="main">
    <section id="" class="tab-content content8">
        <div class="container">
            <div class="container mt-5 pull-left">
                <div class="col-lg-12 text-left row">
                    <div class="col-lg-12">
                        <h3>STAYS</h3>
                    </div>
                </div>
            </div>
            <div class="acc-supp">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                <b style="color: #623015">What time is your check-in and check-out?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>Standard check-in time is at 3:00 PM and check-out at 12:00 NN.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                <b style="color: #623015">Do you allow early check-in or late check-out?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    You can request for early check-in or late check-out ,
                                                    however this is subject to room availability and applicable fees.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                <b style="color: #623015">Do you have smoking rooms?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Our rooms are all non-smoking in adherence to the “Smoke-Free Bataan” Campaign.
                                                    Smoking is strictly prohibited in our guest rooms and indoor areas.
                                                    Violation will be subject to a fine of Php 7,000.00.
                                                    Designated areas for smoking are in front of Gate 2 and the marked spot in the Beach area.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                <b style="color: #623015">Do you have PWD-friendly rooms?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Yes, we have PWD rooms available for comfortable stay of senior
                                                    citizens and persons with disabilities.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                <b style="color: #623015">Do you have houses with private pools?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Yes, we have casas with private pools. Check here for more details.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                                <b style="color: #623015">Are pets allowed?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    We value the convenience and safety of all guests.  You and your pet are allowed to have an enriching experience during your stay.
                                                    <br />
                                                    Guests staying for overnight in the Resort are allowed to bring their pets, subject to our Pet-Friendly Policy.
                                                    <br />
                                                    While guests visiting on day tour packages are prohibited from bringing in their pets.
                                                    <br />
                                                    Please be guided with our Pet-Friendly Policy.<br />
                                                    <b>Resort Pet- Friendly Policy</b><br />
                                                    We strive to preserve the comfort, health and safety of our guests. During your stay, please be informed of the Resort Pet Policy:
                                                    <br />
                                                    1. Guests are allowed to bring in Dogs and Cats as pets inside the resort.
                                                    <br />
                                                    2. Only one (1) pet is allowed per casa. Pets shall have a maximum height of 60 centimeters (2 ft.). Cats shall be limited to domestic or house cats.
                                                    <br />
                                                    3. Pets are allowed only in the casas in which they are registered.
                                                    <br />
                                                    4. Pet owners must provide the following upon checking in:<br />

                                                    ✓ All pet vaccinations especially anti-rabies must be current and valid. The pet/s’ vaccination certificate must be presented to the Front Desk upon check-in.
                                                    <br />
                                                    ✓ Pet’s food and vitamins
                                                    <br />
                                                    ✓ Pet’s food and water bowls
                                                    <br />
                                                    ✓ Pet’s bed
                                                    <br />
                                                    ✓ Pet’s fence/crate/stroller/carrier
                                                    <br />
                                                    ✓ Pet’s jumper or basket
                                                    <br />
                                                    ✓ Disposable bags
                                                    <br />
                                                    ✓ Pee pad
                                                    <br />
                                                    ✓ Diapers
                                                    <br />
                                                    ✓ Scratch pole for cats whose claws are not trimmed.
                                                    <br />
                                                    5. Keep your pet leashed at all times as you head out of your casa and must be accompanied by their owners in public places at all times.
                                                    <br />
                                                    6. Pets should not have been sick in the last seventy-two (72) hours. A medical clearance from a certified vet may be required upon check-in.
                                                    <br />
                                                    7. All pets must be clean, well-groomed, and completely free of fleas and ticks. Pets must wear diapers at all times especially in public areas of the hotel.
                                                    <br />
                                                    8. Pets are not allowed indoor in common and recreational areas within the property such as the restaurants (but allowed in the alfresco area where available as long as they are leashed and do not inconvenience other guests), function rooms, swimming pool, gym, and back-of-the-house areas. Guests with their pet/s may use the public areas only for entry and exit of the resort.
                                                    <br />
                                                    9. Service dogs are exempted if accompanied by any of our security personnel.
                                                    <br />
                                                    10. Pets are allowed to stay at the garden or lawn, provided that they are leashed and that their waste will be cleaned and will be disposed of by their owners in secured disposable bags. At all times, the guest shall maintain and keep the property in a good and sanitary condition.
                                                    <br />
                                                    11. Under no circumstances pets can’t be left unattended in the casas or in any other part of the resort.
                                                    <br />
                                                    12. All equipment required for the upkeep, and feeding of pets are to be provided by the guest. Under no circumstances shall any equipment within the property be used for animal use, this includes the use of a hotel bathtub, available towels, and linen for your pets. Any use of linen for their pets is to incur corresponding charges. Stained linen will be charged twice the regular laundry rate while permanently stained linens will be charged with a corresponding replacement fee.
                                                    <br />
                                                    13. Pet owners will be required to promptly address any complaints made by fellow guests regarding noise or any other such disturbance that may be caused by the pet/s. In the event that any pet becomes overly disruptive or in any way aggressive towards other guests or employees, the pet must be removed from the property. In the event that any pet is considered dangerous by the Hotel Management, it shall immediately be removed from the property by the guest.
                                                    <br />
                                                    14. During any housekeeping service or during any hotel service staff visits, the guest is requested to remove their pet from the casa. The guest may call the Housekeeping Department to arrange a convenient time to service the apartment.
                                                    <br />
                                                    15. The guest shall give a security deposit, equivalent to Five Thousand Pesos (Php5,000.00) per casa upon check-in. The security deposit will cover any damages incurred which may include but are not limited to, stained bedding, stained carpet, stained linen, scratches on the furniture, scratches on the floor, infestation, extra cleaning that may be required, and/or lost revenue charges while the unit is out of service due to cleaning and repairs. The casas will be inspected upon check out. After confirmation and clearance that no damage was found in the casa and no extra cleaning efforts were required, the security deposit shall be returned.
                                                    <br />
                                                    16. The guest shall pay the disinfection cleaning fee corresponding to the casa upon check-in. The fee Is non-refundable. Rate per animal and per one casa/ Php 1,000.00. In case guest staying in suites or Casas, the charge applies to each casa in the unit.
                                                    <br />
                                                    17. Any damage caused by the pet(s) shall be charged to the registered guest and must be paid immediately upon the presentation of an invoice.
                                                    <br />
                                                    18. The Hotel Management and its employees shall not be liable for any loss, injuries, or illness of any pet for any reason whatsoever.
                                                    <br />
                                                    19. The guest shall strictly comply with the Pet Policy Agreement and other rules and regulations which may be issued by Hotel Management. Hotel Management reserves the right to require casa changes, removal of pet/s from the property, refuse or discontinue service without refund if, in the hotel’s sole discretion, the pet is considered dangerous, unhealthy, or likely to frighten, harm, disrupt hotel guests, has damaged hotel property, or for failure to abide by these policies.
                                                    <br />
                                                    20. The guest accepts full responsibility for any and all liability, claims, losses, costs, and expenses including reasonable attorney fees, for personal injury or property damage that may be caused by or attributed to their pet/s. The guest agrees to make any reimbursement for such damages on demand.
                                                    <br />
                                                    21. The guest agrees to indemnify, hold harmless and defend the Hotel Management, its owners, and employees from any and all liability, claims, losses, costs and expenses including reasonable attorney fees arising out of or relating to any claim for personal injury or property damage caused by or attributed to their pet/s.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container mt-5 pull-left">
                <div class="col-lg-12 text-left row">
                    <div class="col-lg-12">
                        <h3>DINING</h3>
                    </div>
                </div>
            </div>
            <div class="acc-supp">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="true" aria-controls="panelsStayOpen-collapseSeven">
                                <b style="color: #623015">Can we make restaurant reservations online?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingSeven">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Our restaurants are currently in a “first come, first served” system. However, for special occasions,
                                                    we can surely accommodate you, please send us an inquiry.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                                <b style="color: #623015">Can we request for a private dining set-up in our casa?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Yes, we offer a private dining set-up subject to applicable fees.
                                                    You can select from our set menus and a-la-carte selections from our restaurants.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingNine">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
                                <b style="color: #623015">What are the restaurants available in the property?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    For a variety of dining experience, you can enjoy Filipino cuisine in Kusina ni Nanay Maria and
                                                    Italian dishes in La Bella Teodora. Cafe del Rio serves Spanish tapas and the beach side,
                                                    Dapitan Bar is perfect for your afternoon or night cap.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container mt-5 pull-left">
                <div class="col-lg-12 text-left row">
                    <div class="col-lg-12">
                        <h3>ACTIVITIES</h3>
                    </div>
                </div>
            </div>
            <div class="acc-supp">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTen">
                            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="true" aria-controls="panelsStayOpen-collapseTen">
                                <b style="color: #623015" >Can we make activity reservations in advance?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTen">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Yes, we highly encourage our guests to book their desired activities in advance as
                                                    this often gets fully booked.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container mt-5 pull-left">
                <div class="col-lg-12 text-left row">
                    <div class="col-lg-12">
                        <h3>DAY TOURS</h3>
                    </div>
                </div>
            </div>
            <div class="acc-supp">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingEleven">
                            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEleven" aria-expanded="true" aria-controls="panelsStayOpen-collapseEleven">
                                <b style="color: #623015">How can I book my day tour?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseEleven" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingEleven">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Please contact our Reservations Team at +63 917 872 9361.
                                                    You may also email them at reserve@lascasasfilipinas.com or visit our website here.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwelve">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwelve" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwelve">
                                <b style="color: #623015">Until what time can day tour guests stay inside the property?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwelve">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Day tour guests can stay from 8 AM until 6 PM..
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThirteen">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThirteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseThirteen">
                                <b style="color: #623015">What are the inclusions in the day tour rates?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThirteen">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    We have two (2) available packages for our Day Tours:
                                                    <br />
                                                    a.) Weekday Heritage Tour
                                                    <br />
                                                    Inclusions: Walking tour, Hotel de Oriente access, welcome drinks, cold towel, and choice between River Cruise or Dining Credits
                                                    <br />
                                                    b.) Weekend Heritage Tour
                                                    <br />
                                                    Inclusions: Walking tour, Hotel de Oriente access, welcome drinks, cold towel, River Cruise, and Dining Credits
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container mt-5 pull-left">
                <div class="col-lg-12 text-left row">
                    <div class="col-lg-12">
                        <h3>BOOKING PROCESS</h3>
                    </div>
                </div>
            </div>
            <div class="acc-supp">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFourteen">
                            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFourteen" aria-expanded="true" aria-controls="panelsStayOpen-collapseFourteen">
                                <b style="color: #623015">How do I book my stay?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFourteen" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFourteen">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    For bookings, guests have three options:<br />
                                                    • Through our Las Casas website :<br />

                                                    www.lascasasfilipinas.com<br />

                                                    • Contact our Reservations Team at<br />

                                                    +63 917 872 9361<br />

                                                    • Or email at reserve@lascasasfilipinas.com<br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFifteen">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFifteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseFifteen">
                                <b style="color: #623015">Do you require a pre-payment?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFifteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFifteen">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Yes. Pre-payment depends on the rate and package that you would like to avail.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingSixteen">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSixteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseSixteen">
                                <b style="color: #623015">How do I know that my booking is confirmed?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSixteen">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Our Reservations Team will send a booking confirmation
                                                    via email once payment is successfully processed.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container mt-5 pull-left">
                <div class="col-lg-12 text-left row">
                    <div class="col-lg-12">
                        <h3>PAYMENT OPTIONS</h3>
                    </div>
                </div>
            </div>
            <div class="acc-supp">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingSeventeen">
                            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeventeen" aria-expanded="true" aria-controls="panelsStayOpen-collapseSeventeen">
                                <b style="color: #623015">Which credit cards do you accept?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSeventeen" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingSeventeen">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    We accept Visa, Mastercard, Amex, and JCB credit cards
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container mt-5 pull-left">
                <div class="col-lg-12 text-left row">
                    <div class="col-lg-12">
                        <h3>CANCELLATIONS AND REFUNDS</h3>
                    </div>
                </div>
            </div>
            <div class="acc-supp">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingEighteen">
                            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEighteen" aria-expanded="true" aria-controls="panelsStayOpen-collapseEighteen">
                                <b style="color: #623015">Can I cancel my booking?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseEighteen" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingEighteen">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Booking cancellation may vary based on the offer or package that you availed.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingNineteen">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNineteen" aria-expanded="false" aria-controls="panelsStayOpen-collapseNineteen">
                                <b style="color: #623015">Can I rebook my reservation?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseNineteen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNineteen">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Rebooking is subject to the terms and conditions of the offer. Reservations made via the Las Casas website can be modified directly by the guest.
                                                    Alternatively, you may call us at +63 917 8729361 or email reserve@lascasasfilipinas.com for us to better assist you.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container mt-5 pull-left">
                <div class="col-lg-12 text-left row">
                    <div class="col-lg-12">
                        <h3>LOCATION</h3>
                    </div>
                </div>
            </div>
            <div class="acc-supp">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwenty">
                            <button class="accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwenty" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwenty">
                                <b style="color: #623015">Where are you located?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwenty" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwenty">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>We are located at Barangay Ibaba in Bagac, Bataan. Approximately just 2.5 – 3 hours away from Metro Manila.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwentyOne">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyOne">
                                <b style="color: #623015">Do you allow early check-in or late check-out?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwentyOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwentyOne">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    If you are coming from Metro Manila, Las Casas is a 2.5- 3 hour drive that is accessible via the Skyway,
                                                    Subic Clark Tarlac Expressway (SCTEX) and Northern Luzon Expressway (NLEX).
                                                    We are one-hour drive away from Diosdado Macapagal International Airport in Clark, Pampanga.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwentyTwo">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyTwo">
                                <b style="color: #623015">Do you require a negative result for COVID-19?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwentyTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwentyTwo">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Following the local authority’s latest guidelines,
                                                    a negative RT-PCR test result is needed for unvaccinated travelers.
                                                    Fully–vaccinated guests need only to present their vaccination cards prior to entry,
                                                    subject to the latest guidelines, please read <a href="https://www.facebook.com/LasCasasBataan/photos/a.1476216276005246/2701354633491398/" target="_blank">here</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwentyThree">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyThree">
                                <b style="color: #623015">Are you accepting minor guests?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwentyThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwentyThree">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Following the latest guidelines issued by the local authorities,
                                                    please refer to our advisory <a href="https://www.facebook.com/LasCasasBataan/photos/a.1476216276005246/2701354633491398/" target="_blank">here</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwentyFour">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyFour">
                                <b style="color: #623015">Are senior citizens allowed to visit?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwentyFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwentyFour">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    Yes. Fully-vaccinated seniors are allowed to visit, subject to the latest guidelines,
                                                    please read <a href="https://www.facebook.com/LasCasasBataan/photos/a.1476216276005246/2701354633491398/" target="_blank">here</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwentyFive">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentyFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentyFive">
                                <b style="color: #623015">What are your requirements for day tour guests and overnight stays?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwentyFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwentyFive">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>
                                                    For domestic travelers, guests are required to present the following:
                                                    <br /><br />
                                                    1. Fully vaccinated guests may present their vaccination certificate from <a href="vaxcert.doh.gov.ph" target="_blank">vaxcert.doh.gov.ph</a><br />
                                                    2. Accomplished Health Declaration Form<br />
                                                    3. Valid Philippine issued ID or Alien Certificate of Registration<br />
                                                    4. Hotel Booking Confirmation (printed out for check-points)<br />
                                                    5. QR Code from GET PASS App (<a href="https://www.getpass.ph/" target="_blank">https://www.getpass.ph/</a>)
                                                    <br /><br />
                                                    For the latest travel advisory from the local government authority, please read and click <a href="https://www.facebook.com/LasCasasBataan/photos/a.1476216276005246/2701354633491398/" target="_blank">here.</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwentySix">
                            <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwentySix" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwentySix">
                                <b style="color: #623015">What are your travel requirements for Bataan residents?</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwentySix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwentySix">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-12">
                                            <div class="small supp-dtls">
                                                <p>Bataan residents are requested to present their vaccination certificate from <a href="vaxcert.doh.gov.ph" target="_blank">vaxcert.doh.gov.ph</a>, 
                                                government-issued ID and hotel booking confirmation. Please read our latest advisory <a href="https://www.facebook.com/LasCasasBataan/photos/a.1476216276005246/2701354633491398/" target="_blank">here.</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

