@{
    ViewBag.Title = "Stay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image m-cover">
        <div class="div-cover-img">
            <img src="~/assets/img/HotelRoom/hotelroom-cover.png" class="f-and-b m-cover" alt="cover" />
        </div>
    </div>

</section>
<main>
    <div class="container">
        <div class="col-ms-12 text-center mt-5" data-aos="fade-up" data-aos-delay="200">
            <h2 class="fnt-family-playfair"><strong>HOTEL ROOMS</strong></h2>
            <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                With 217 hotel rooms, you have the finest choices of well-equipped comforts and timeless elegance in Las Casas Bataan Resort.
                Striking a balance between the classic beauty of the old-world charm and the innovations of the modern times.
            </p>

        </div>
        @*<div class="col-ms-12 text-center mt-5 row" data-aos="fade-up" data-aos-delay="200">
            <h3 class="fnt-family-playfair"><strong>ROOMS</strong></h3>
        </div>*@

        <div class="col-md-12 row mt-5" data-aos="fade-up" data-aos-delay="200">

            <div class="col-md-6 resto">
                <a href="~/Stay/StandardRoom">
                    <div class="resto m-resto">
                        <img src="~/assets/img/HotelRoom/Stay/Thumbnails/Hotel Room - Standard.jpg" class="img-resto m-resto" alt="stay" />
                    </div>
                </a>
            </div>
            <div class="col-md-6 resto m-mt-20px">
                <a href="~/Stay/PremiumRoom">
                    <div class="resto m-resto">
                        <img src="~/assets/img/HotelRoom/Stay/Thumbnails/Hotel Room- Premium.jpg" class="img-resto m-resto" alt="stay" />
                    </div>
                </a>
            </div>
        </div>

        <div class="col-ms-12 text-center mt-5" data-aos="fade-up" data-aos-delay="200" style="border-top:groove;">
            <div class="mt-5">
                <h2 class="fnt-family-playfair"><strong>HERITAGE CASAS</strong></h2>
                <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                    A fusion of modern influences and traditional grandeur, our Casas are distinctive mix of restored heritage
                    homes and historically significant pieces inspired from storied houses that capture Philippine history.
                </p>
                <p class="container fnt-size15 mt-20 mb-20" style="font-size:20px;">
                    Discover our selection of our finest Casas offering superior amenities and exclusive guest experience.&nbsp;Comfortably accommodating and completely private, each Casa is available for guest rentals of up to 22 guests depending on the type.
                </p>
            </div>
        </div>
        <div class="col-md-12 row mt-5 mb-20" data-aos="fade-up" data-aos-delay="200">
            <div class="col-md-6 resto mb-2">
                <a href="~/Stay/StandardCasas">
                    <div class="resto m-resto">
                        <img src="~/assets/img/HotelRoom/Stay/Thumbnails/Standard Casas.jpg" class="img-resto m-resto" alt="stay"/>
                    </div>
                </a>
            </div>
            <div class="col-md-6 resto m-mt-20px">
                <a href="~/Stay/PremiumCasas">
                    <div class="resto m-resto">
                        <img src="~/assets/img/HotelRoom/Stay/Thumbnails/Premium Casas.jpg" class="img-resto m-resto" alt="stay" />
                    </div>
                </a>
            </div>
        </div>
        @*<div class="row mt-5 ">
                <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img">
                        <img src="~/assets/img/HotelRoom/newlayout/deluxe-room.jpg" class="room-img" />
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <h4 class="fnt-family-playfair"><strong>DELUXE ROOM</strong></h4>
                        <p class="container mt-20 mb-20">
                            Ideal for couples looking for comfort with great value. Features King or Queen-size beds, deep-soaking bathtub and a walk-in shower.
                            Choose from a room with views of the river, beachfront, accessoria or the plaza.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img">
                        <img src="~/assets/img/HotelRoom/newlayout/Large-superior-deluxe-room.jpg" class="room-img" />
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <h4 class="fnt-family-playfair"><strong>LARGE SUPERIOR DELUXE ROOM</strong></h4>
                        <p class="container mt-20 mb-20">
                            Situated along Estero de Binondo offering choices for magnificent views of the plaza and the beachfront.
                            Best for holiday with a group of friends.
                        </p>
                    </div>
                </div>
            </div>*@
        @*<div class="row mt-5 m-plr15">
                <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pr-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img">
                        <img src="~/assets/img/HotelRoom/newlayout/Las-Casas-Studio-with-Loft-1.jpg" class="room-img" />
                    </div>

                </div>
                <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pl-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img">
                        <img src="~/assets/img/HotelRoom/newlayout/Las-Casas-Studio-with-Loft-2.jpg" class="room-img" />
                    </div>
                </div>
                <div class="col-lg-12 pt-lg-0 order-lg-1 mt-3 content m-pt-0 pl-0 text-center">
                    <h4 class="fnt-family-playfair"><strong>LOFT-TYPE STUDIO ROOM</strong></h4>
                    <p class="container mt-20 mb-20">
                        Located at Paseo de Escolta, the loft-type studio room bestows more room to breathe and allows you to immerse in the beauty of the plaza.
                    </p>
                </div>
            </div>*@
        @*<div class="row mt-5 ">
                <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img">
                        <img src="~/assets/img/HotelRoom/newlayout/Las-Casas-Executive-Suite.jpg" class="room-img" />
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <h4 class="fnt-family-playfair"><strong>EXECUTIVE SUITE</strong></h4>
                        <p class="container mt-20 mb-20">
                            Located at the Paseo de Escolta, the suite has expansive space perfect for a family getaway.
                            Well-appointed amenities, a view of The Plaza and gazebo complete your historical indulgence.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img">
                        <img src="~/assets/img/HotelRoom/newlayout/Las-Casas-Family-Suite.jpg" class="room-img" />
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <h4 class="fnt-family-playfair"><strong>FAMILY SUITE</strong></h4>
                        <p class="container mt-20 mb-20">
                            Nestled in Estero de Binondo, the suite is designed for a family vacation,
                            well-furnished and surrounds you with a view of Plaza Marcelino and beachfront.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img text-center">
                        <img src="~/assets/img/HotelRoom/wifi.png" class="room-icon" />
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <h4 class="fnt-family-playfair"><strong>WIFI</strong></h4>
                        <p class="container mt-20 mb-20">
                            Stay connected with complimentary in-room wi-fi
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img text-center">
                        <img src="~/assets/img/HotelRoom/beach.png" class="room-icon" />
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <h4 class="fnt-family-playfair"><strong>BEACH</strong></h4>
                        <p class="container mt-20 mb-20">
                            Direct access to the beach offers a relaxing getaway
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img text-center">
                        <img src="~/assets/img/HotelRoom/walking-tour.png" class="room-icon" />
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <h4 class="fnt-family-playfair"><strong>WALKING TOUR</strong></h4>
                        <p class="container mt-20 mb-20">
                            Explore the rich history and heritage of the Casas with our guided tours for a unique travel experience
                        </p>
                    </div>
                </div>
            </div>*@
    </div>

</main>