
@{
    ViewBag.Title = "PremiumRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image m-cover">
        <div class="div-cover-img">
            <img src="~/assets/img/HotelRoom/Stay/Hotel Rooms/Hotel Premium/Premium Hotel Room.jpg" class="f-and-b m-cover" alt="stay" />
        </div>
    </div>

</section>
<main>
    <div class="container">
        <div class="col-ms-12 text-center mt-5" data-aos="fade-up" data-aos-delay="200">
            <h2 class="title-color"><strong>PREMIUM ROOMS</strong></h2>
            <p class="fnt-family-playfair title-color container fnt-size15 mt-20 mb-20" style="font-size:25px;font-style:italic;">
                Estero de Binondo
            </p>

        </div>
        @*<div class="col-ms-12 text-center mt-5 row" data-aos="fade-up" data-aos-delay="200">
                <h3 class="fnt-family-playfair"><strong>ROOMS</strong></h3>
            </div>*@

        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Hotel Rooms/Hotel Premium/Premium room for 2.jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>PREMIUM ROOM FOR 2</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        The room features a Queen-size bed with access to the small private balcony with beach or river view.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Hotel Rooms/Hotel Premium/Premium room for 4.jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>PREMIUM ROOM FOR 4</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        The room bestows more room to breathe and allows you to immerse in the beauty of the heritage area. 
                        Features 2 Queen-size beds, with balcony, 
                        offering choices for extravagant views of Plaza Atienza, Plaza Marcelino, and river.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-5 m-plr15" data-aos="fade-right" data-aos-delay="100">
            <div class="col-lg-12 pt-lg-0 order-lg-1 content m-pt-0 pr-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Hotel Rooms/Hotel Premium/Premium room for 6.jpg" class="room-img-prem" alt="stay" />
                </div>

            </div>
            <div class="col-lg-12 pt-lg-0 order-lg-1 mt-5 content m-pt-0 pl-0 text-center">
                <h4 class="fnt-family-playfair title-color"><strong>PREMIUM ROOM FOR 6</strong></h4>
                <p class="fnt-family-playfair container mt-20 mb-20">
                    The room has expansive space perfect for a family getaway. Features 3 Queen-size beds, well-appointed amenities, 
                    a view of The Plaza and gazebo complete your historical indulgence.
                </p>
            </div>
        </div>
        <div class="row mt-5 mb-5" data-aos="fade-right" data-aos-delay="100">
            <div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img text-center">
                    <img src="~/assets/img/HotelRoom/wifi.png" class="room-icon" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>WIFI</strong></h4>
                    <p class="container mt-20 mb-20">
                        Stay connected with complimentary in-room wi-fi
                    </p>
                </div>
            </div>
            <div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img text-center">
                    <img src="~/assets/img/HotelRoom/beach.png" class="room-icon" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>BEACH</strong></h4>
                    <p class="container mt-20 mb-20">
                        Direct access to the beach offers a relaxing getaway
                    </p>
                </div>
            </div>
            <div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img text-center">
                    <img src="~/assets/img/HotelRoom/walking-tour.png" class="room-icon" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>WALKING TOUR</strong></h4>
                    <p class="container mt-20 mb-20">
                        Explore the rich history and heritage of the Casas with our guided tours for a unique travel experience
                    </p>
                </div>
            </div>
        </div>
       
    </div>

</main>

