
@{
    ViewBag.Title = "PremiumCasas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image m-cover">
        <div class="div-cover-img">
            <img src="~/assets/img/HotelRoom/Stay/Casas/Premium/Premium Casa.JPG" class="f-and-b m-cover" alt="stay" />
        </div>
    </div>

</section>
<main>
    <div class="container">
        <div class="col-ms-12 text-center mt-5" data-aos="fade-up" data-aos-delay="200">
            <h2 class="title-color"><strong>PREMIUM CASAS</strong></h2>
        </div>
        @*<div class="col-ms-12 text-center mt-5 row" data-aos="fade-up" data-aos-delay="200">
            <h3 class="fnt-family-playfair"><strong>ROOMS</strong></h3>
        </div>*@

        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Bonita.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA BONITA</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Spacious studio-type with chic bed and bath and two separate bathtubs.
                        Perfect for a romantic getaway.
                    </p>
                    <img src="~/assets/img/Casas/casa-bonita-icons-1.png" class="casa-icon" alt="stay" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0  m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Byzantina.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA BYZANTINA</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Used to stand tall along the streets of Binondo in Manila, Casa Byzantina, or referred to as “bahay na bato” during its time, is Las Casas’ most luxurious six-bedroom accommodation complete with luxurious amenities, 24/7 butler service, and free cocktails.
                    </p>
                    <img src="~/assets/img/Casas/casa-byzantina-icons.png" class="casa-icon" alt="stay" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Esquina.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA ESQUINA</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Spanish royalty living fills your senses from intricately-designed interiors
                        to elaborate features that include an old-world inspired bathing area.
                    </p>
                    <img src="~/assets/img/Casas/casa-esquina-icons.png" class="casa-icon" alt="stay" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-la-drillo.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA LA DRILLO</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        One of the striking archival houses and notable as the only brick house in Estero de Binondo with European-inspired architecture.
                    </p>
                    <img src="~/assets/img/Casas/casa-ladrillo-icons.png" class="casa-icon" alt="stay"/>
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-lemery.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA LEMERY</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        An artistic casa notable for its unique columns shaped in the form of women called caryatids.
                    </p>
                    <img src="~/assets/img/Casas/casa-lemery-icons.png" class="casa-icon" alt="stay" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-san-luis.png" class="room-img" alt="stay"/>
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA SAN LUIS</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Originally located in Pulilan, Bulacan, then dismantled and brought to San Luis, Pampanga.
                        Rebuilt in Las Casas, the casa accommodates up to 22 guests.
                    </p>
                    <img src="~/assets/img/Casas/casa-san-luis-icons.png" class="casa-icon" alt="stay" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Las-Casas-Terraza.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA TERRAZA</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Quaint and lovely home for two guests with a terrace overlooking the beachfront.
                        four-poster bed and romantic draperies.
                    </p>
                    <img src="~/assets/img/Casas/casa-terraza-icons.png" class="casa-icon" alt="stay"/>
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Casas/Premium/Premium Casas/CASA TUGUEGARAO (3).jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA TUGUEGARAO</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        With a breathtaking view of the Umagol River, the six-bedroom casa accommodates sixteen guests.
                    </p>
                    <img src="~/assets/img/HotelRoom/Stay/Casas/Premium/Icons/casa tuguegarao-icons.png-08.png" class="casa-icon" alt="stay" />
                </div>
            </div>
        </div>
        <div class="row mt-5 m-plr15" data-aos="fade-right" data-aos-delay="100">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pr-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Casas/Premium/Premium Casas/La Ribera.jpg" class="room-img" alt="stay" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pl-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Casas/Premium/Premium Casas/La Ribera 2.jpg" class="room-img" alt="stay" />
                </div>
            </div>
            <div class="col-lg-12 pt-lg-0 order-lg-1 mt-5 content m-pt-0 pl-0 text-center">
                <h4 class="fnt-family-playfair title-color"><strong>La Ribera 1</strong></h4>
                <p class="fnt-family-playfair container mt-20 mb-20">
                    Situated in an exclusive area within the rows of Accesoria, the casa features a Roman bath-like pool,
                    with a riverside view called Estero de Binondo.
                </p>
                <img src="~/assets/img/Casas/la-ribera-1-icons.png" class="casa-icon-tondo" alt="stay" />
            </div>
        </div>
        <div class="row mt-5 m-plr15" data-aos="fade-right" data-aos-delay="100">
            <div class="col-lg-12 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Casas/Premium/Premium Casas/Island 2.jpg" class="room-img" alt="stay"/>
                </div>
            </div>
            <div class="col-lg-12 pt-lg-0 order-lg-1 mt-5 content m-pt-0 pl-0 text-center">
                <h4 class="fnt-family-playfair title-color"><strong>ISLAND 2</strong></h4>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Casas/Premium/Premium Casas/Casa Balanga.jpg" class="room-img" alt="stay"/>
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA BALANGA</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Nestled in a semi-exclusive island, the casa features a private promenade and bougainvillea trellis.
                    </p>
                    <img src="~/assets/img/Casas/casa-balanga-icons.png" class="casa-icon" alt="stay" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Gapan.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA GAPAN</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Nestled on semi-exclusive island in Las Casas, the five-room casa has commanding views of the Umagol River.
                    </p>
                    <img src="~/assets/img/Casas/casa-gapan-icons.png" class="casa-icon" alt="stay" />
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 pt-lg-0 order-lg-1 content m-pt-0"></div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Irosin.png" class="room-img" alt="stay" />
                </div>
            </div>
            <div class="col-lg-3 pt-lg-0 order-lg-1 content m-pt-0"></div>
            <div class="col-lg-12 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA IROSIN</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        In a spectacular semi-exclusive island, cut from the rest of the heritage property,
                        the four-bedroom casa offers stunning views of the lake and the mountains.
                    </p>
                    <img src="~/assets/img/Casas/casas-irsosin-icons.png" class="casa-icon-tondo" alt="stay" />
                </div>
            </div>
        </div>
        <div class="row mt-5" style="border-top:groove;">
            <div class="row mt-5 m-plr15" data-aos="fade-right" data-aos-delay="100">
                <div class="col-lg-12 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                    <div class="div-room-img">
                        <img src="~/assets/img/HotelRoom/Stay/Casas/Premium/Premium Casas/Island 3.jpg" class="room-img" alt="stay" />
                    </div>
                </div>
                <div class="col-lg-12 pt-lg-0 order-lg-1 mt-5 content m-pt-0 pl-0 text-center">
                    <h4 class="fnt-family-playfair title-color"><strong>ISLAND 3</strong></h4>
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Casas/Premium/Premium Casas/Casa Balayan 1.jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA BALAYAN I</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        With a great view of the surroundings, and an open space below the casa.
                        Casa Balayan I is perfect for outdoor dining and reunion of family and friends.
                    </p>
                    <img src="~/assets/img/Casas/casa-balayan-icon.png" class="casa-icon" alt="stay" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Balayan-II.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA BALAYAN II</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Built in the early 1800s, Casa Balayan II weaves
                        the union between hispanic and oriental architecture.
                    </p>
                    <img src="~/assets/img/Casas/casa-balayan-II-icon.png" class="casa-icon" alt="stay" />
                </div>
            </div>
        </div>
</main>

