
@{
    ViewBag.Title = "StandardRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image m-cover">
        <div class="div-cover-img">
            <img src="~/assets/img/HotelRoom/Stay/Hotel Rooms/Hotel Standard/PASEO DE ESCOLTA.jpg" class="f-and-b m-cover" alt="stay" />
        </div>
    </div>

</section>
<main>
    <div class="container">
        <div class="col-ms-12 text-center mt-5" data-aos="fade-up" data-aos-delay="200">
            <h2 class="title-color"><strong>STANDARD HOTEL ROOMS</strong></h2>
            @*<p class="fnt-family-playfair title-color container fnt-size15 mt-20 mb-20" style="font-size:25px;font-style:italic;">
                Paseo de Escolta
            </p>*@

        </div>
        @*<div class="col-ms-12 text-center mt-5 row" data-aos="fade-up" data-aos-delay="200">
                <h3 class="fnt-family-playfair"><strong>ROOMS</strong></h3>
            </div>*@

        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Hotel Rooms/Hotel Standard/Standard room for 2.jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>STANDARD ROOM FOR 2</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Ideal for couples looking for comfort with great value. Features King or Queen-size beds, deep-soaking bathtub and a walk-in shower. 
                        Choose from a room with views of the river, beachfront, accessoria or the plaza.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Hotel Rooms/Hotel Standard/Standard room for  4.jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>STANDARD ROOM FOR 4</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Best for holiday with a group of friends. Features 2 Queen-size beds, and walk-in shower. Situated along Estero de Binondo 
                        offering choices for magnificent views of the plaza, river and the beachfront. <br />
                        <b>Disclaimer:</b> Loaf type rooms may vary depending on availabiliy.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-5 m-plr15" data-aos="fade-right" data-aos-delay="100">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pr-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Hotel Rooms/Hotel Standard/Standard room for 6_1.jpg" class="room-img" alt="stay" />
                </div>

            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pl-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Hotel Rooms/Hotel Standard/Standard room for 6_2.jpg" class="room-img" alt="stay" />
                </div>
            </div>
            <div class="col-lg-12 pt-lg-0 order-lg-1 mt-3 content m-pt-0 pl-0 text-center">
                <h4 class="fnt-family-playfair title-color"><strong>STANDARD ROOM FOR 6 </strong></h4>
                <p class="fnt-family-playfair container mt-20 mb-20">
                    Nestled in Estero de Binondo, the room is designed for a family vacation, well-furnished, 
                    with 3 Queen-size beds and surrounds you with a view of Plaza Marcelino and beach front.
                </p>
            </div>
        </div>
        <div class="row mt-5 mb-5" data-aos="fade-right" data-aos-delay="100">
            <div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img text-center">
                    <img src="~/assets/img/HotelRoom/wifi.png" class="room-icon" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>WIFI</strong></h4>
                    <p class="container mt-20 mb-20">
                        Stay connected with complimentary in-room wi-fi
                    </p>
                </div>
            </div>
            @*<div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img text-center">
                    <img src="~/assets/img/HotelRoom/beach.png" class="room-icon" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>BEACH</strong></h4>
                    <p class="container mt-20 mb-20">
                        Direct access to the beach offers a relaxing getaway
                    </p>
                </div>
            </div>*@

            @* UPDATED INCLUSION *@
            <div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img text-center">
                    <img src="~/assets/img/HotelRoom/Stay/Paseo.png" class="room-icon" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>PASEO DE ESCOLTA</strong></h4>
                    <p class="container mt-20 mb-20">
                        Strip of houses on cobblestones with the view of the Plaza
                    </p>
                </div>
            </div>

            <div class="col-lg-4 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img text-center">
                    <img src="~/assets/img/HotelRoom/walking-tour.png" class="room-icon" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair"><strong>WALKING TOUR</strong></h4>
                    <p class="container mt-20 mb-20">
                        Explore the rich history and heritage of the Casas with our guided tours for a unique travel experience
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>

