
@{
    ViewBag.Title = "StandardCasas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="slide-image m-cover">
        <div class="div-cover-img">
            <img src="~/assets/img/HotelRoom/Stay/Casas/Standard/Standard Casas main img.jpg" class="f-and-b m-cover" alt="stay" />
        </div>
    </div>

</section>
<main>
    <div class="container">
        <div class="col-ms-12 text-center mt-5" data-aos="fade-up" data-aos-delay="200">
            <h2 class="title-color"><strong>STANDARD CASAS</strong></h2>
        </div>
        @*<div class="col-ms-12 text-center mt-5 row" data-aos="fade-up" data-aos-delay="200">
            <h3 class="fnt-family-playfair"><strong>ROOMS</strong></h3>
        </div>*@

        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-baliuag.jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA BALIUAG</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Built in 1898 in front of Baliuag Church in Bulacan, the two-bedroom casa is highly floral in motif
                        and located right across Plaza Tobias.
                    </p>
                    <img src="~/assets/img/Casas/casa-baliuag-icons.png" class="casa-icon" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Binondo-I.jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA BINONDO I</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        The two-story casa takes pride in its artistic display of Nouveau paintings characterizing the Spanish era.
                        The balcony offers a relaxation haven and a beautiful view of the Plaza.
                    </p>
                    <img src="~/assets/img/Casas/Casa-Binondo-I-icon.png" class="casa-icon" alt="stay" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa Binondo2.jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA BINONDO II</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Inspired by the architectural design of houses in Manila during the Spanish colonization,
                        the three-bedroom casa accommodates a maximum of 6 guests.
                    </p>
                    <img src="~/assets/img/Casas/Casa-Binondo-II-icon.png" class="casa-icon" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/Casa-Jaen.jpg" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA JAEN II</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        Referred to as the White House, built in 1901 and served as the residence of the first mayor of Jaen.
                        Comfortable two-story casa that can host 10 persons.
                    </p>
                    <img src="~/assets/img/Casas/casa-jaen-icon.png" class="casa-icon" alt="stay" />
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-meycauyan.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA MEYCAUYAN</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        First built in San Fernando, Pampanga in 1913 then was later moved to Meycauayan. Rebuilt in Las Casas.
                        the pineapple motif on the ceiling made from a plain metal sheet is one of its attractions.
                    </p>
                    <img src="~/assets/img/Casas/casa-meycauayan-icons.png" class="casa-icon" />
                </div>
            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 m-mt-40px" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/Casas/casa-san-miguel.png" class="room-img" alt="stay" />
                </div>
                <div class="col-md-12 text-center mt-3">
                    <h4 class="fnt-family-playfair title-color"><strong>CASA SAN MIGUEL</strong></h4>
                    <p class="fnt-family-playfair container mt-20 mb-20">
                        A five-bedroom casa with an enormous living room and a game room for a fun, family vacation.
                    </p>
                    <img src="~/assets/img/Casas/casa-san-miguel-icons.png" class="casa-icon" />
                </div>
            </div>
        </div>
        <div class="row mt-5 m-plr15" data-aos="fade-right" data-aos-delay="100">
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pr-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Casas/Standard/Standard casas/Casa Tondo 1.jpg" class="room-img" alt="stay" />
                </div>

            </div>
            <div class="col-lg-6 pt-lg-0 order-lg-1 content m-pt-0 pl-0" data-aos="fade-right" data-aos-delay="100">
                <div class="div-room-img">
                    <img src="~/assets/img/HotelRoom/Stay/Casas/Standard/Standard casas/Casa Tondo 2.jpg" class="room-img" alt="stay" />
                </div>
            </div>
            <div class="col-lg-12 pt-lg-0 order-lg-1 mt-5 content m-pt-0 pl-0 text-center">
                <h4 class="fnt-family-playfair title-color"><strong>CASA TONDO</strong></h4>
                <p class="fnt-family-playfair container mt-20 mb-20">
                    Intricately-designed roof and with a lovely view of the lush greenery around Las Casas,
                    the three-bedroom casa accommodates six guests.
                </p>
                <img src="~/assets/img/Casas/casa-tondo-icon.png" class="casa-icon-tondo" />
            </div>
        </div>
    </div>

</main>

